/**
 * NB: this is a direct mirror of onlineprotector.css
 *
 * Unification of common classes should happen once DVT is working
 */

.directvalueterm {
    color: #333;
}

.directvalueterm h3, .directvalueterm .p, .directvalueterm h1{
    color: #333;
}

.directvalueterm .article__leader__main__btnset {
    margin: 2em 0;
    text-align: left;
}
.directvalueterm .article__leader__main__btnset .btn {
    font-size: .9em;
    min-width: 8em;
}
.directvalueterm .article__leader__main__btnset .back_btn {
    display: block;
}
.directvalueterm [data-form-action=next] {
    float: right;
}

.directvalueterm__breadcrumb {
    margin: 2em 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-size: 1.4em;
    counter-reset: directvalueterm__breadcrumb-counter;
}
.directvalueterm__breadcrumb a {
    display: block;
    line-height: 1.4em;
    padding: 0.5em 0;
    margin: 0 0 .5em;
    border-bottom: 5px solid #DB0011;
    font-size: .7em;
    width: 50%;
    text-transform: uppercase;
    color: inherit;
}
.directvalueterm__breadcrumb a:before {
    content: counter(directvalueterm__breadcrumb-counter)".  ";
    counter-increment: directvalueterm__breadcrumb-counter;
    display: inline; /* If this is inline-block it won't end up ont he same reading line */
    width: 1em;
}

.directvalueterm__breadcrumb a:hover {
    text-decoration: none;
    color: inherit;
}
.directvalueterm__breadcrumb a.current {
    cursor: default;
}
.directvalueterm__breadcrumb a.disabled {
    color: rgb(215, 215, 215);
    border-bottom-color: rgb(215, 215, 215);
    cursor: default;
}

@media (min-width: 480px) {
    .directvalueterm__breadcrumb {
        flex-wrap: nowrap;
    }
    .directvalueterm__breadcrumb a {
        width: auto;
        flex-grow: 1;
    }
}
@media (min-width: 640px) {
    .directvalueterm__breadcrumb a {
        width: 25%;
    }
}



.directvalueterm form {
    max-width: 860px;
}
.directvalueterm fieldset {
    font-size: .85em;
}
.directvalueterm legend {
    border-bottom: 0;
    font-size: 1.4em;
    padding-left: .5em;
    border-left: 5px solid #DB0011;
}

.directvalueterm dl {
    margin: 1.5em 0;
}
.directvalueterm dt {
    font-weight: normal;
    font-size: 1em;
    margin-bottom: .5em;
}
.directvalueterm dt small,
.directvalueterm dt strong {
    display: block;
}
.directvalueterm dd {
    margin-bottom: 2em;
}
.directvalueterm dd p {
    margin-bottom: .5em;
}
.directvalueterm dd .btn{
    display: block;
    margin-left: auto;
}

.directvalueterm button.blocklink {
    opacity: .85;
    text-decoration: none;
    border: none;
    background-color: transparent;
}
.directvalueterm button.blocklink i.icon {
    font-size: 1.5em;
    transform: translateY(-.1em);
    margin-right: .25em;
}
.directvalueterm button.blocklink:hover {
    opacity: 1;
    text-decoration: none;
}
@media (min-width: 480px) {
    .directvalueterm dl:after {
        content: "";
        display: table;
        clear: both;
    }
    .directvalueterm dt,
    .directvalueterm dd {
        width: 50%;
        margin-bottom: 2em;
    }
    .directvalueterm dt {
        padding-right: 15px;
        float: left;
        clear: left;
    }
    .directvalueterm dd {
        padding-left: 15px;
        margin-left: 50%;
    }
    .directvalueterm dd:after {
        content: "";
        display: table;
        clear: both;
    }
}

@media (min-width: 480px) {
    .directvalueterm form .article__leader__main__btnset .btn,
    .directvalueterm form .article__leader__main__btnset button.btn {
        display: inline-block;
    }
    .directvalueterm .article__leader__main__btnset .back_btn {
        margin-top: 1.5em;
    }
}


.radio_hint {
    margin: 1.5em 0;
    font-size: .85em;
}


.confirm_investment {
    max-width: 420px;
    margin-bottom: 2em;
}
.confirm_investment .article__leader__main__btnset {margin-top: 0;}

.directvalueterm .product_reference_materials {margin: 1.5em 0;}


.directvalueterm__table__wrap {
    width: 100%;
    overflow-y: auto;
    _overflow: auto;
    margin: 0 0 1em;
}

.directvalueterm__table {
    margin: 1.5em 0;
    font-size: .85em;
    color: #4C4C4C;
    width: 100%;
    border-bottom: 5px solid #008580;
    background: #EDEDED;
}
.directvalueterm__table th,
.directvalueterm__table td {
    padding: 10px 15px;
    line-height: 1.5em;
    text-align: center;
}
.directvalueterm__table th:first-child,
.directvalueterm__table td:first-child {
    text-align: left;
}

.directvalueterm__table thead th {
    color: #fff;
    background: #005E59;
    white-space: nowrap;
}
.directvalueterm__table .green th {
    color: #fff;
    background: #269792;
}
.directvalueterm__table .gray50 th,
.directvalueterm__table .gray50 td {
    background: #D8D8D8;
}
.directvalueterm__table .gray10 td {
    background: rgba(216, 216, 216, .2);
}
.directvalueterm__table .gray5 td {
    background: #EDEDED;
}
.directvalueterm__table td {
}

.directvalueterm__table a {
    color: #666;
}
.directvalueterm__table a:hover {
    text-decoration: none;
    color: #979797;
}
.directvalueterm__table a i.icon {
    font-size: 1.2em;
}



.directvalueterm__table--summary tbody th,
.directvalueterm__table--summary tbody td {
    text-align: left;
    vertical-align: top;
    font-size: .85em;
}
.directvalueterm__table--summary tfoot {
    border-top: 1px solid #ccc;
    font-family: "Univers Next for HSBC W01 Bd";
    font-weight: normal;
}

.directvalueterm .showmorebtn{
    text-align: center;
    font-size: 14px;
    color: #333333;
    cursor: pointer;
}


.directvalueterm form .error-message {
    color: #83000A;
    font-size: 14px;
    margin-top: 4px;
}

.directvalueterm form .form-control.error,
.directvalueterm form .form-group.error .form-control,
.directvalueterm form .form-group.error input[type=checkbox]:not(old) + label > span,
.directvalueterm form .form-group.error input[type=radio]:not(old) + label > span {
    border-color: #83000A !important;
    background-color: rgba(131, 0, 10, 0.05);
}

.noUi-target {
    border-radius: 0;
    box-shadow: none;
    border-color: #4B5D6A;
    background-color: #D7D8D5;
}

/*.noUi-base {*/
/*background-color: #D7D8D5;*/
/*border: 1px solid #4B5D6A;*/
/*}*/

.noUi-tooltip {
    display: none;
}

.noUi-handle {
    box-shadow: none;
    width: 28px !important;
    border-radius: 50%;
    outline: none;
}
.noUi-handle:before,
.noUi-handle:after {
    display: none;
}

.noUi-connect {
    box-shadow: none;
    border-radius: 0;
    background-color: #00857F;
}

.slider {
    margin-top: 40px;
    margin-bottom: 80px;
}
.noUi-pips {
    margin-top: -10px;
    color: #333;
}
.noUi-marker {
    display: none;
}
.noUi-value-horizontal {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    margin-top: 10px;
}
.noUi-value-horizontal.noUi-value-large:last-child {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

#buynow-dropout-modal .modal-content {
    padding: 20px 40px;
    box-shadow: none;
}

#buynow-dropout-modal .modal-body {
    padding: 15px;
}

#buynow-dropout-modal .modal-header {
    border-bottom: 0;
    margin: 0;
    padding: 15px;
}

#buynow-dropout-modal .modal-header .close:before {
    display: none;
}

#buynow-dropout-modal .modal-footer {
    margin-top: 40px;
    padding: 40px 15px 15px 15px;
    border-top: 1px solid #e5e5e5;
}

#buynow-dropout-modal .modal-footer button {
    background-color: #db0011;
    color: #fff;
    border: 1px solid #db0011;
    padding: 10px 20px;
}

.modal-backdrop {
    opacity: 0.7 !important;
}

table.data-table {
    /*border-bottom: 8px solid #008480;*/
    width: 100%;
    color: #666;
}

table.data-table th,
table.data-table td {
    font-size: 14px;
    padding: 10px;
    vertical-align: top;
}

table.data-table input[type=text] {
    width: 60px !important;
    text-align: right;
    border-style: solid !important;
}

table.data-table thead th {
    background-color: #008480;
    color: #fff;
    vertical-align: top;
}

table.data-table.stripped thead tr:nth-child(2) th {
    font-weight: normal;
}

table.data-table tbody td {
    background-color: #e7e7e7;
}
table.data-table.stripped tbody tr:nth-child(2n) td {
    background-color: #ededed;
}

table.data-table thead td {
    background-color: #259791;
    color: #fff;
    font-weight: bold;
}

table.data-table thead tr.minor td {
    background-color: #d7d7d7;
    color: #333;
}

input[type=checkbox] {
    outline: none !important;
    border: 1px solid #929292 !important;
    width: 30px !important;
    height: 30px !important;
    opacity: 1 !important;
    position: relative !important;
    -webkit-appearance: button !important;
    -moz-appearance: button !important;
    appearance: button !important;
    margin-bottom: -10px;
    vertical-align: middle;
    margin-right: 6px !important;
    margin-bottom: 10px !important;
}

input[type=checkbox]:checked:before {
    font-family: HSBCIcon-Font;
    content: "\f00a";
    color: #008580;
    font-size: 26px;
    display: inline-block;
    padding: 3px 2px !important;
}

[data-question-group] {
    display: none;
}