.article__leader__main {
  margin-bottom: 2em;
}
.article__leader__main h3 {
  margin-bottom: 1em;
  margin-top: 0;
}
.article__leader__main p {
  margin-bottom: 2em;
}
.article__leader__main__btnset {
  text-align: left;
}
.article__leader__aside dt {
  font-family: "Univers Next for HSBC W01 Bd";
  margin-bottom: .5em;
}
.article__leader__aside li {margin-bottom: .5em;}
.article__leader__aside dd {
  margin-bottom: 1.5em;
}


.thumbnail_select__item {
  display: block;
  margin-bottom: 1em;
}
.thumbnail_select__item,
.thumbnail_select__item:hover,
.thumbnail_select__item:focus {
  color: inherit;
  text-decoration: none;
}
.thumbnail_select__item img {
  display: block;
  width: 100%;
  height: auto;
}

.products_listing .panel-heading {padding: 0;}
.products_listing h3 {
  font-family: 'Univers Next for HSBC W01 Lt';
  margin-bottom: 0;
}
.products_listing .HSBC-panel h3 a {
  padding-right: 60px;
  position: relative;
}
.products_listing .HSBC-panel h3 a:after {
  font-family:HSBCIcon-Font;display:inline-block;vertical-align:middle;line-height:1;font-weight:400;font-style:normal;speak:none;text-decoration:inherit;text-transform:none;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;
  content:"\f055";
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  border-left: 1px solid #ccc;
  padding-left: 15px;
}
.products_listing .panel-collapse {
  border: 1px solid #515358;
  border-top: none;
}

.products_listing__sets {
  margin: 0;
  padding: 0;
  list-style: none;
}
.products_listing__sets > li {
  padding: 15px;
  border-bottom: 1px solid #ccc;
}
.products_listing__sets > li:last-child {
  border-bottom: none;
}

.product_listing__item__alpha h4 {
  margin-top: 0;
}
.product_listing__item__alpha p {
  font-size: .9em;
}

.product_listing__item__beta {
  font-size: .8em;
}
.product_listing__item__beta dl {
  display: flex;
  flex-wrap: nowrap;
  font-size: 1.1em;
  margin-bottom: 1em;
}
.product_listing__item__beta dl > div {
  padding: 0 20px 0 0;
  margin-right: 20px;
  border-right: 1px solid #ccc;
}
.product_listing__item__beta dl > div:last-child {
  border-right: 0;
  margin-right: 0;
}
.product_listing__item__beta dl dt {
  font-family: 'Univers Next for HSBC W01 Rg';
  font-weight: normal;
  font-size: .9em;
}
.product_listing__item__beta dl dd {
  font-family: 'Univers Next for HSBC W01 Bd';
  font-weight: normal;
}

.product_listing__item__beta ul {
  list-style: none;
  padding: 0;
  margin-left: 0;
}
.product_listing__item__beta ul li {
  padding-right: 25px;
}
.product_listing__item__beta ul li:last-child {padding-right: 0;}
.product_listing__item__beta p {font-size: .9em; line-height: 1.5em;}
.product_listing__item .product_listing__item__beta a,
.product_listing__item .product_listing__item__beta a:hover,
.product_listing__item .product_listing__item__beta a:focus,
.product_listing__item .product_listing__item__beta a:active {
  border: none!important;
  padding: 0;
}
.product_listing__item .product_listing__item__beta a:hover {text-decoration: underline;}
.product_listing__item .product_listing__item__beta a:before {
  font-family:HSBCIcon-Font;display:inline-block;vertical-align:middle;line-height:1;font-weight:400;font-style:normal;speak:none;text-decoration:inherit;text-transform:none;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;
  font-size: 16px;
  content:"\f000";
  margin-right: .5em;
  top: -2px;
  position: relative;
  text-decoration: none!important;
}

@media (min-width: 768px) {
  .products_listing__sets > li {
    display: flex;
  }
  .products_listing__sets > li > .product_listing__item__alpha {
    width: 33.33%;
    padding-right: 15px;
  }
  .products_listing__sets > li > .product_listing__item__beta {
    width: 66.66%;
    padding-left: 15px;
  }
}
@media (min-width: 992px) {
  .products_listing .HSBC-panel h3 a {
    padding-left: 25px;
  }
  .products_listing__sets > li {
    padding: 25px;
  }
}

.products_collapsibles > small {
  display: block;
  font-size: .65em;
  line-height: 1.4em;
  margin: 2.5em 0;
}




ul.customer_feedback__listing {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  ul.customer_feedback__listing {
    display: flex;
    margin: 0 -15px;
  }
  ul.customer_feedback__listing li {
    padding: 0 15px;
    width: 50%;
  }
  ul.customer_feedback__listing li:nth-child(odd) {
    padding-right: 5vw;
  }
  ul.customer_feedback__listing li:nth-child(even) {
    padding-left: 5vw;
    position: relative;
  }
  ul.customer_feedback__listing li:nth-child(even):before {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #ccc;
  }
}
ul.customer_feedback__listing strong {
  font-weight: normal;
  display: block;
}
ul.customer_feedback__listing h3,
ul.customer_feedback__listing p {
  font-size: .9em;
  font-family: 'Univers Next for HSBC W01 Rg';
  max-width: 30em;
  margin-left: 0;
}
ul.customer_feedback__listing h3 small {
  display: block;
  margin-top: .25em;
  font-size: .9em;
}


.review_star {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(../../images/products/icons--star_reviews.png) no-repeat;
  background-size: 30px 90px;
}
.review_star.review_star--0 {
  background-position: 0 0px;
}
.review_star.review_star--50 {
  background-position: 0 -30px;
}
.review_star.review_star--100 {
  background-position: 0 -60px;
}
.review_star.review_star--0__hover {
  background-position: 0 0px;
}
.review_star.review_star--50__hover {
  background-position: 0 -30px;
}
.review_star.review_star--100__hover {
  background-position: 0 -60px;
}


.quickfeedback {
  border: 1px solid #ccc;
  padding: 10px 15px;
  opacity: .5;
  cursor: pointer;
  margin: 1em 0;
}
.quickfeedback:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../../images/products/icons--check.png) no-repeat;
  background-size: 20px 40px;
  background-position: 0 0;
  margin-right: .5em;
}
.quickfeedback:hover,
.quickfeedback.quickfeedback--positive {
  opacity: 1;
}
.quickfeedback.quickfeedback--positive:before {
  background-position: 0 -20px;
}

.review_report button {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../../images/products/icons--like_unlike.png) no-repeat transparent;
  background-size: 40px 40px;
  font-size: 0;
  overflow: hidden;
  border: none;
  outline: none;
  padding: 0;
}
.review_report button.review_report__up {
  background-position: 0 0;
}
.review_report button.review_report__down {
  background-position: 0 -20px;
}
.review_report button.review_report__up:hover,
.review_report button.review_report__up.active {
  background-position: -20px 0;
}
.review_report button.review_report__down:hover,
.review_report button.review_report__down.active {
  background-position: -20px -20px;
}

@media (min-width: 768px) {
  .products__trailer .row .col-md-6:nth-child(odd) {
    padding-right: 5vw;
  }
  .products__trailer .row .col-md-6:nth-child(even) {
    padding-left: 5vw;
  }
}



.main > section.getaquote {
  background: url(../../images/products/productreference_bg.jpg) no-repeat center;
  background-size: cover;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
@media (min-width: 768px) {
  .main > section.getaquote {
    padding-top: 15vh;
    padding-bottom: 15vh;
  }
}


.main > section.getaquote .container {
  position: relative;
  min-height: 925px;
}

@media (min-width: 768px) {
  .main > section.getaquote .container{
    min-height: 685px;
  }
}

#getaquote__modal .modal-header {
  border-bottom: 0;
}
#getaquote__modal .modal-header h3 {
  font-size: 2em;
}



.getaquote h2 {
  margin-top: 0;
  font-family: 'Univers Next for HSBC W01 Rg';
  font-size: 1.4em;
}

.getaquote__box.row {
  padding: 1.5em 1em;
  margin: 0;
  background: #e7e7e6;
  border-top: 10px solid #008580;
  border-left: 1px solid rgba(0,0,0,.25);
  border-right: 1px solid rgba(0,0,0,.25);
  border-bottom: 1px solid rgba(0,0,0,.25);
  /*height: 100vh;*/
}
/*@media (min-width: 768px) {*/
  /*.getaquote__box.row{*/
    /*height: 50vh;*/
  /*}*/
/*}*/
.getaquote__box.getaquote__box--result {
  background: #fff;
  border-top: none;
  border-left: 1px solid rgba(0,0,0,.25);
  border-right: 1px solid rgba(0,0,0,.25);
  border-bottom: 10px solid #008580;
  overflow: hidden;
  transition: max-height 1s ease;
  max-height: 0;
}
.getaquote__box.getaquote__box--result.hide {
  padding: 0;
  max-height: 0;
}
.getaquote__box.getaquote__box--result.show {
  max-height: 700px;
}

.getaquote__box.getaquote__box--result .getaquote__alpha em {
  font-size: 1.1em;
  font-style: normal;
  color: #008580;
  font-family: 'Univers Next for HSBC W01 Md';
}

@media (min-width: 768px) {
  .getaquote__alpha {padding-right: 2vw;}
  .getaquote__beta {padding-left: 2vw;}
 
  .getaquote__beta .col-sm-6:nth-child(1) {padding-right: 2vw;}
  .getaquote__beta .col-sm-6:nth-child(2) {padding-left: 2vw;}
  
  .getaquote__box:not(.getaquote__box--result) .getaquote__beta,
  .getaquote__box:not(.getaquote__box--result) .getaquote__beta .col-sm-6:nth-child(2) {position: relative;}
  .getaquote__box:not(.getaquote__box--result) .getaquote__beta:before,
  .getaquote__box:not(.getaquote__box--result) .getaquote__beta .col-sm-6:nth-child(2):before {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #ccc;
  }  
}

.getaquote__beta {
  font-size: .9em;
}
.getaquote__beta h3 {
  margin-top: 0;
}
.getaquote__beta small {
  display: block;
  font-size: .8em;
  line-height: 1.5em;
  margin-bottom: 1em;
}
.getaquote__beta p, 
.getaquote__beta ul,
.getaquote__beta ol {margin-bottom: 1.5em;}
.getaquote__beta ol {list-style: lower-alpha;}
.getaquote__beta ol li {margin-bottom: 1.5em;}

.getaquote__box__btnset {
  text-align: right;
  margin-top: 2em;
}

.getaquote__table {
  margin-bottom: 1em;
  font-size: .77em;
  border: 1px solid #000;
} 
.getaquote__table th, 
.getaquote__table td {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  text-align: left;
  padding: 5px;
  position: relative;
}
.getaquote__table th:after, 
.getaquote__table td:after {
  content: "";
  display: block;
  background: #000;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 5px;
  right: 5px;
}
.getaquote__table tbody tr:last-child th:after, 
.getaquote__table tbody tr:last-child td:after {
  display: none;
}
.getaquote__table th {
  font-weight: bold;
  font-family: "Univers Next for HSBC W01 Bd";
  vertical-align: top;
  line-height: 1.3em;
}


.promocode_success {
  position: relative;
  padding-left: 1.5em;
  font-size: .88em;
  line-height: 1.5em;
}
.promocode_success i {
  color: #008580;
  vertical-align: middle;
  position: absolute;
  left: 0;
  font-size: 1.2em;
  width: 1.5em;
  transform: translateY(-50%);
  top: 10px;
}


