.container.campaign ul {
    margin-left: 16px;
    padding: 0
}

.container.campaign p a {
    text-decoration: underline;
}

.container.campaign h2 {
    font-size: 18px;
    margin-bottom: 20px;
    font-family: "Univers Next for HSBC W01 Md", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-left: 15px;
    position: relative;
    line-height: 1.1;
}

.container.campaign h2:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    background-color: #DB0011;
    height: 100%;
    max-height: 25px;
}

.campaign .primary-btn-slate, 
.campaign .outline-btn-slate {
    margin-top: 5px;
    margin-bottom: 40px;
}

.container.campaign .table {
    width: 100%;
    margin-bottom: 40px;
}

.container.campaign .table td, 
.container.campaign .table th {
    padding: 10px 20px;
    vertical-align: middle;
}

.container.campaign .table th {
    vertical-align: middle;
    font-weight: normal;
    background: #ddd;
    font-family: "Univers Next for HSBC W01 Md", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-right: 1px solid #f1f1f1;
    border-bottom: transparent;
}

.container.campaign .table th:nth-child(3) {
    border-right: transparent;
}

.container.campaign .table td {
    border-bottom: 1px solid #e2e2e2 ;
    border-right: 1px solid #e2e2e2;
}

.container.campaign .table td:nth-child(3) {
    text-align: right;
    border-right: transparent;
}

.container.campaign .table tr td:first-child { 
    white-space: nowrap;
}


@media (max-width: 768px) {

    .campaign .row:last-child .col-sm-6:last-child {
        display: none;
    }

    .campaign .row:last-child .col-sm-6:first-child:after {
        display: none;
    }

    .campaign .col-sm-6:after {
        content: '';
        display: block;
        width: 100%;
        height: 0;
        border-bottom: 1px solid #ccc;  
        margin-top: 30px;
        margin-bottom: 30px;  
    }
}


@media (min-width: 768px) {

    .container.campaign h2 {
        font-size: 22px;
        line-height: 1;
    }

    .campaign .row:first-child {
        border-bottom: 1px solid #ccc;
        padding-bottom: 60px;
        margin-bottom: 40px;
    }

    .campaign .row:first-child .col-sm-6:first-child:after {
        content: '';
        display: block;
        width: 1px;
        border-right: 1px solid #ccc;
        height: calc(100% - 22px);
        position: absolute;
        top: 22px;
        right: 0;

    }

    .campaign .col-sm-6:first-child {
        padding-right: 40px;
    }

    .campaign .col-sm-6:last-child {
        padding-left: 40px;
    }

    .campaign .row:last-child .col-sm-6:last-child {
        padding: 0;
    }

    .campaign .row:last-child .col-sm-6:last-child img {
        width: 100%;
        margin-top: 22px;
    }


    .container.campaign .table {
        font-size: 16px;
    }

    .row-eq-height {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display:         flex;
    }

    .row.row-eq-height .col-sm-4 {
        padding-top: 22px;
    }


    .tc-footnotes {
        font-size: 16px ;
    }
}