.onlineinvestor {
  color: #333;
}

.onlineinvestor h3, .onlineinvestor .p, .onlineinvestor h1{
  color: #333;
}

.onlineinvestor .article__leader__main__btnset {
  margin: 2em 0;
  text-align: left;
}
.onlineinvestor .article__leader__main__btnset .btn {
  font-size: .9em;
  min-width: 8em;
}
.onlineinvestor .article__leader__main__btnset .back_btn {
  display: block;
}

.onlineinvestor__breadcrumb {
  margin: 2em 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-size: 1.4em;
  counter-reset: onlineinvestor__breadcrumb-counter;
}
.onlineinvestor__breadcrumb a {
  display: block;
  line-height: 1.4em;
  padding: 0.5em 0;
  margin: 0 0 .5em;
  border-bottom: 5px solid #DB0011;
  font-size: .7em;
  width: 50%;
  text-transform: uppercase;
  color: inherit;
}
.onlineinvestor__breadcrumb a:before {
  content: counter(onlineinvestor__breadcrumb-counter)".  ";
  counter-increment: onlineinvestor__breadcrumb-counter;
  display: inline; /* If this is inline-block it won't end up ont he same reading line */
  width: 1em;
}

.onlineinvestor__breadcrumb a:hover {
  text-decoration: none;
  color: inherit;
}
.onlineinvestor__breadcrumb a.current {
  cursor: default;
}
.onlineinvestor__breadcrumb a.disabled {
  color: rgb(215, 215, 215);
  border-bottom-color: rgb(215, 215, 215);
  cursor: default;
}

@media (min-width: 480px) {
  .onlineinvestor__breadcrumb {
    flex-wrap: nowrap;
  }
  .onlineinvestor__breadcrumb a {
    width: auto;
    flex-grow: 1;
  }
}
@media (min-width: 640px) {
  .onlineinvestor__breadcrumb a {
    width: 25%;
  }
}



/*.onlineinvestor form {
  max-width: 860px;
}*/
/*.onlineinvestor fieldset {
  font-size: .85em;
}
*/
.onlineinvestor form h2 {
  border-bottom: 0;
  font-size: 1.2em;
  padding-left: .5em;
  border-left: 5px solid #DB0011;
  margin-bottom: 2em;
  margin-top: 3em;
  line-height: 1.4;
}

.onlineinvestor dl {
  margin: 1.5em 0;
}
.onlineinvestor dt {
  font-weight: normal;
  font-size: 1em;
  margin-bottom: .5em;
}
.onlineinvestor dt small,
.onlineinvestor dt strong,
.onlineinvestor .col-md-5 small,
.onlineinvestor .col-md-5 strong {
  display: block;
}
.onlineinvestor dd {
  margin-bottom: 2em;
}
.onlineinvestor dd p {
  margin-bottom: .5em;
}
.onlineinvestor dd .btn{
  display: block;
  margin-left: auto;
}

.onlineinvestor button.blocklink {
  opacity: .85;
  text-decoration: none;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: flex-start;
  text-align: left;
}
.onlineinvestor button.blocklink i.icon {
  font-size: 1.5em;
  transform: translateY(-.05em);
  margin-right: .25em;
}
.onlineinvestor button.blocklink:hover {
  opacity: 1;
  text-decoration: none;
}
@media (min-width: 480px) {
  .onlineinvestor dl:after {
    content: "";
    display: table;
    clear: both;
  }
  .onlineinvestor dt,
  .onlineinvestor dd {
    width: 50%;
    margin-bottom: 2em;
  }
  .onlineinvestor dt {
    padding-right: 15px;
    float: left;
    clear: left;
  }
  .onlineinvestor dd {
    padding-left: 15px;
    margin-left: 50%;
  }
  .onlineinvestor dd:after {
    content: "";
    display: table;
    clear: both;
  }
}

.onlineinvestor form .row {
  margin-bottom: 2em;
}

.form-select_wrap:after {
    border: 0;
}

@media (min-width: 480px) {
  .onlineinvestor .article__leader__main__btnset [data-form-action=next],
  .onlineinvestor .article__leader__main__btnset .btn-red {
    float: right;
  }
}


.radio_hint {
  margin: 1.5em 0;
  font-size: .85em;
}


.confirm_investment {
  max-width: 420px;
  margin-bottom: 2em;
}
.confirm_investment .article__leader__main__btnset {margin-top: 0;}

.onlineinvestor .product_reference_materials {margin: 1.5em 0;}


.onlineinvestor__table__wrap {
  width: 100%;
	overflow-y: auto;
	_overflow: auto;
	margin: 0 0 1em;
}

.onlineinvestor__table {
  margin: 1.5em 0;
  font-size: .85em;
  color: #666;
  width: 100%;
  border-bottom: 5px solid #008580;
  background: #EDEDED;
}
.onlineinvestor__table th,
.onlineinvestor__table td {
  padding: 10px 15px;
  line-height: 1.5em;
  text-align: center;
}
.onlineinvestor__table th:first-child,
.onlineinvestor__table td:first-child {
  text-align: left;
}

.onlineinvestor__table thead th {
  color: #fff;
  background: #008580;
  white-space: nowrap;
}
.onlineinvestor__table .green th {
  color: #fff;
  background: #269792;
}
.onlineinvestor__table .gray50 th,
.onlineinvestor__table .gray50 td {
  background: #D8D8D8;
}
.onlineinvestor__table .gray10 td {
  background: rgba(216, 216, 216, .2);
}
.onlineinvestor__table .gray5 td {
  background: #EDEDED;
}
.onlineinvestor__table td {
}

.onlineinvestor__table a {
  color: #666;
}
.onlineinvestor__table a:hover {
  text-decoration: none;
  color: #979797;
}
.onlineinvestor__table a i.icon {
  font-size: 1.2em;
}



.onlineinvestor__table--summary tbody th,
.onlineinvestor__table--summary tbody td {
  text-align: left;
  vertical-align: top;
  font-size: .85em;
}
.onlineinvestor__table--summary tfoot {
  border-top: 1px solid #ccc;
  font-family: "Univers Next for HSBC W01 Bd";
  font-weight: normal;
}

.onlineinvestor .showmorebtn{
  text-align: center;
  font-size: 14px;
  color: #333333;
  cursor: pointer;
}

.onlineinvestor h2 {
  border-left: 5px solid #DB0011;
  color: #333333;
  font-family: "Univers Next for HSBC W01 lg", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 25px;
  padding-left: .5em;
}

.onlineinvestor .article__leader__main__btnset .btn.btn-red {float: right !important;}
