.onlineprotector, .directvalueterm {
  color: #333;
}

.onlineprotector h3, .onlineprotector .p, .onlineprotector h1,
.directvalueterm h3, .directvalueterm .p, .directvalueterm h1{
  color: #333;
}

.onlineprotector .article__leader__main__btnset,
.directvalueterm .article__leader__main__btnset {
  margin: 2em 0;
  text-align: left;
}
.onlineprotector .article__leader__main__btnset .btn,
.directvalueterm .article__leader__main__btnset .btn {
  font-size: .9em;
  min-width: 8em;
}
.onlineprotector .article__leader__main__btnset .back_btn,
.directvalueterm .article__leader__main__btnset .back_btn {
  display: block;
}
.onlineprotector [data-form-action=next],
.directvalueterm [data-form-action=next] {
  float: right;
}

.onlineprotector__breadcrumb,
.directvalueterm__breadcrumb {
  margin: 2em 0;
  display: flex;
  width: 100%;
  font-size: 1.4em;
  counter-reset: onlineprotector__breadcrumb-counter;
  position: relative;
}

.onlineprotector__breadcrumb a em,
.directvalueterm__breadcrumb a em {
    display: block;
    font-style: normal;
}

.onlineprotector__breadcrumb a,
.directvalueterm__breadcrumb a {
  display: block;
  line-height: 1.4em;
  padding: 0.5em 0;
  margin: 0 0 .5em;
  border-bottom: 5px solid #DB0011;
  font-size: .7em;
  width: 50%;
  text-transform: uppercase;
  color: inherit;
}


@media (min-width: 768px) {

  .onlineprotector__breadcrumb a:before,
  .directvalueterm__breadcrumb a:before {
    content: counter(onlineprotector__breadcrumb-counter)".  ";
    counter-increment: onlineprotector__breadcrumb-counter;
    display: inline; /* If this is inline-block it won't end up ont he same reading line */
    width: 1em;
  }

  .onlineprotector__breadcrumb a em,
  .directvalueterm__breadcrumb a em {
      display: none;
      font-style: normal;
  }


}

.onlineprotector__breadcrumb a:hover,
.directvalueterm__breadcrumb a:hover {
  text-decoration: none;
  color: inherit;
}
.onlineprotector__breadcrumb a.current,
.directvalueterm__breadcrumb a.current {
  cursor: default;
}

.onlineprotector__breadcrumb a.disabled,
.directvalueterm__breadcrumb a.disabled {
  color: #333333;
  border-bottom-color: #333333;
  cursor: default;
}

.onlineprotector h2,
.directvalueterm h2 {
  font-family: "Univers Next for HSBC W01 lg", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: 22px;
  margin-bottom: 25px;
  font-weight: 500;
}

@media (max-width: 767px) {
  .onlineprotector__breadcrumb a.current,
  .directvalueterm__breadcrumb a.current {
    padding-top: 17px;
  }
  
  .onlineprotector__breadcrumb a.current span,
  .directvalueterm__breadcrumb a.current span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: white;
  }

  .onlineprotector__breadcrumb a.current span em,
  .directvalueterm__breadcrumb a.current span em {
      display: inline-block;
      margin-right: 10px;
  }

  .onlineprotector__breadcrumb a.disabled span,
  .directvalueterm__breadcrumb a.disabled span{
    display: none;
  }

}

@media (min-width: 480px) {
  .onlineprotector__breadcrumb,
  .directvalueterm__breadcrumb {
    flex-wrap: nowrap;
  }
  .onlineprotector__breadcrumb a,
  .directvalueterm__breadcrumb a {
    width: auto;
    flex-grow: 1;
  }
}
@media (min-width: 640px) {
  .onlineprotector__breadcrumb a,
  .directvalueterm__breadcrumb a {
    width: 25%;
  }
}

.onlineprotector form h1 {
  font-family: 'Univers Next for HSBC W01 Rg',"Helvetica Neue",Helvetica,Arial,sans-serif;
}


/*.onlineprotector fieldset,
.directvalueterm fieldset {*/
  /* font-size: .85em; */
/*  font-family: "Univers Next for HSBC W01 lg", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: 22px;
  margin-bottom: 25px;
  font-weight: 500;
}

.onlineprotector legend,
.directvalueterm legend {
  border-bottom: 0;
  font-size: 1.4em;
  padding-left: .5em;
  border-left: 5px solid #DB0011;
}*/

.onlineprotector legend.header,
.directvalueterm legend.header {
  font-family: "Univers Next for HSBC W01 lg", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: 22px;
  margin-bottom: 25px;
  font-weight: 500;
}

.onlineprotector legend.sub-header,
.directvalueterm legend.sub-header {
  font-family: "Univers Next for HSBC W01 lg", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: 16px;
  margin-bottom: 25px;
  font-weight: 500;
}

.retrieve form .row,
.onlineprotector form .row,
.directvalueterm form .row {
  margin-bottom: 2em;
}

.retrieve form .row {
  margin-bottom: 3em;
}

.onlineprotector form .row .col-md-5 small, .onlineprotector form .row strong,
.directvalueterm form .row .col-md-5 small, .directvalueterm form .row strong {
  display: block;
}

.onlineprotector form .row p,
.directvalueterm form .row p {
  margin-bottom: .5em;
}
.onlineprotector form .row .btn,
.directvalueterm form .row .btn{
  display: block;
  margin-left: auto;
}

.onlineprotector dl,
.directvalueterm dl {
  margin: 1.5em 0;
}
.onlineprotector dt,
.directvalueterm dt {
  font-weight: normal;
  font-size: 1em;
  margin-bottom: .5em;
}
.onlineprotector dt small, .onlineprotector dt strong,
.directvalueterm dt small, .directvalueterm dt strong {
  display: block;
}
.onlineprotector dd,
.directvalueterm dd {
  margin-bottom: 2em;
}
.onlineprotector dd p,
.directvalueterm dd p {
  margin-bottom: .5em;
}
.onlineprotector dd .btn,
.directvalueterm dd .btn{
  display: block;
  margin-left: auto;
}

.onlineprotector button.blocklink,
.directvalueterm button.blocklink {
  opacity: .85;
  text-decoration: none;
  border: none;
  background-color: transparent;
}
.onlineprotector button.blocklink i.icon,
.directvalueterm button.blocklink i.icon {
  font-size: 1.5em;
  transform: translateY(-.1em);
  margin-right: .25em;
}
.onlineprotector button.blocklink:hover,
.directvalueterm button.blocklink:hover {
  opacity: 1;
  text-decoration: none;
}
@media (min-width: 480px) {
  .onlineprotector dl:after,
  .directvalueterm dl:after {
    content: "";
    display: table;
    clear: both;
  }
  .onlineprotector dt, .onlineprotector dd,
  .directvalueterm dt, .directvalueterm dd {
    width: 50%;
    margin-bottom: 2em;
  }

  .onlineprotector dt {
    margin-bottom: 0;
  }
  
  .onlineprotector dt,
  .directvalueterm dt {
    padding-right: 15px;
    float: left;
    clear: left;
  }
  .onlineprotector dd,
  .directvalueterm dd {
    padding-left: 15px;
    margin-left: 50%;
  }
  .onlineprotector dd:after,
  .directvalueterm dd:after {
    content: "";
    display: table;
    clear: both;
  }
}

@media (min-width: 480px) {
  .onlineprotector form .article__leader__main__btnset .btn,
  .onlineprotector form .article__leader__main__btnset button.btn,
  .directvalueterm form .article__leader__main__btnset .btn,
  .directvalueterm form .article__leader__main__btnset button.btn {
    display: inline-block;
  }
  .onlineprotector .article__leader__main__btnset .back_btn,
  .directvalueterm .article__leader__main__btnset .back_btn {
    margin-top: 1.5em;
  }
}


.radio_hint {
  margin: 1.5em 0;
  font-size: .85em;
}


.confirm_investment {
  max-width: 420px;
  margin-bottom: 2em;
}
.confirm_investment .article__leader__main__btnset {margin-top: 0;}

.onlineprotector .product_reference_materials,
.directvalueterm .product_reference_materials {margin: 1.5em 0;}


.onlineprotector__table__wrap,
.directvalueterm__table__wrap {
  width: 100%;
	overflow-y: auto;
	_overflow: auto;
	margin: 0 0 1em;
}

.onlineprotector__table,
.directvalueterm__table {
  margin: 1.5em 0;
  font-size: .85em;
  color: #666;
  width: 100%;
  border-bottom: 5px solid #008580; 
  background: #EDEDED;
}
.onlineprotector__table th,
.onlineprotector__table td,
.directvalueterm__table th,
.directvalueterm__table td {
  padding: 10px 15px;
  line-height: 1.5em;
  text-align: center;
}
.onlineprotector__table th:first-child,
.onlineprotector__table td:first-child,
.directvalueterm__table th:first-child,
.directvalueterm__table td:first-child {
  text-align: left;
}

.onlineprotector__table thead th,
.directvalueterm__table thead th {
  color: #fff;
  background: #008580;
  white-space: nowrap;
}
.onlineprotector__table .green th,
.directvalueterm__table .green th {
  color: #fff;
  background: #269792;
}
.onlineprotector__table .gray50 th,
.onlineprotector__table .gray50 td,
.directvalueterm__table .gray50 th,
.directvalueterm__table .gray50 td {
  background: #D8D8D8;
}
.onlineprotector__table .gray10 td,
.directvalueterm__table .gray10 td {
  background: rgba(216, 216, 216, .2);
}
.onlineprotector__table .gray5 td,
.directvalueterm__table .gray5 td {
  background: #EDEDED;
}
.onlineprotector__table td,
.directvalueterm__table td {
}

.onlineprotector__table a,
.directvalueterm__table a {
  color: #666;
}
.onlineprotector__table a:hover,
.directvalueterm__table a:hover {
  text-decoration: none;
  color: #979797;
}
.onlineprotector__table a i.icon,
.directvalueterm__table a i.icon {
  font-size: 1.2em;
}



.onlineprotector__table--summary tbody th,
.onlineprotector__table--summary tbody td,
.directvalueterm__table--summary tbody th,
.directvalueterm__table--summary tbody td {
  text-align: left;
  vertical-align: top;
  font-size: .85em;
}
.onlineprotector__table--summary tfoot,
.directvalueterm__table--summary tfoot {
  border-top: 1px solid #ccc;
  font-family: "Univers Next for HSBC W01 Bd";
  font-weight: normal;
}

.onlineprotector .showmorebtn,
.directvalueterm .showmorebtn{
  text-align: center;
  font-size: 14px;
  color: #333333;
  cursor: pointer;
}


.onlineprotector form .error-message,
.directvalueterm form .error-message {
  color: #83000A;
  font-size: 14px;
  margin-top: 4px;
}

.onlineprotector form .error .error-message,
.directvalueterm form .error .error-message {
  display: block !important;
}

.onlineprotector form .form-control.error,
.onlineprotector form .form-group.error .form-control,
.onlineprotector form .form-group.error input[type=checkbox]:not(old) + label > span,
.onlineprotector form .form-group.error input[type=radio]:not(old) + label > span,
.directvalueterm form .form-control.error,
.directvalueterm form .form-group.error .form-control,
.directvalueterm form .form-group.error input[type=checkbox]:not(old) + label > span,
.directvalueterm form .form-group.error input[type=radio]:not(old) + label > span {
  border-color: #83000A !important;
  background-color: rgba(131, 0, 10, 0.05);
}

.noUi-target {
  border-radius: 0;
  box-shadow: none;
  border-color: #4B5D6A;
  background-color: #D7D8D5;
}

/*.noUi-base {*/
/*background-color: #D7D8D5;*/
/*border: 1px solid #4B5D6A;*/
/*}*/

.noUi-tooltip {
  display: none;
}

.noUi-handle {
  box-shadow: none;
  width: 28px !important;
  border-radius: 50%;
  outline: none;
}
.noUi-handle:before,
.noUi-handle:after {
  display: none;
}

.noUi-connect {
  box-shadow: none;
  border-radius: 0;
  background-color: #00857F;
}

.slider {
  margin-top: 40px;
  margin-bottom: 80px;
}
.noUi-pips {
  margin-top: -10px;
  color: #333;
}
.noUi-marker {
  display: none;
}
.noUi-value-horizontal {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  margin-top: 10px;
}
.noUi-value-horizontal.noUi-value-large:last-child {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

#buynow-dropout-modal .modal-content,
#buynow-exit-modal .modal-content {
  padding: 20px 40px;
  box-shadow: none;
}

#buynow-dropout-modal .modal-body,
#buynow-exit-modal .modal-body {
  padding: 15px;
}

#buynow-dropout-modal .modal-header,
#buynow-exit-modal .modal-header {
  border-bottom: 0;
  margin: 0;
  padding: 15px;
}

#buynow-dropout-modal .modal-header .close:before,
#buynow-exit-modal .modal-header .close:before {
  display: none;
}

#buynow-dropout-modal .modal-footer {
  margin-top: 40px;
  padding: 40px 15px 15px 15px;
  border-top: 1px solid #e5e5e5;
}

#buynow-exit-modal .modal-footer {
  margin-top: 20px;
  padding: 20px 15px 15px 15px;
  border-top: 1px solid #e5e5e5;
}

.step-3 #buynow-exit-modal.op .modal-body {
  display: none;
}

#buynow-dropout-modal .modal-footer button,
#buynow-exit-modal .modal-footer button {
  background-color: #db0011;
  color: #fff;
  border: 1px solid #db0011;
  padding: 10px 20px;
}

#buynow-exit-modal .modal-footer a {
  color: #333 !important;
}

.modal-backdrop {
  opacity: 0.7 !important;
}

table.data-table {
  /*border-bottom: 8px solid #008480;*/
  width: 100%;
  color: #4C4C4C;
}

table.data-table th,
table.data-table td {
  font-size: 14px;
  padding: 10px;
  vertical-align: top;
}

table.data-table input[type=text] {
  width: 60px !important;
  text-align: right;
  border-style: solid !important;
}

table.data-table thead th {
  background-color: #005E59;
  color: #fff;
  vertical-align: top;
}

table.data-table.stripped thead tr:nth-child(2) th {
  font-weight: normal;
}

table.data-table tbody tr th:first-child {
  padding-bottom: 0;
}

table.data-table tbody th,
table.data-table tbody td {
  background-color: #EDEDED;
}
table.data-table.stripped tbody tr:nth-child(2n) td {
  background-color: #ededed;
}

table.data-table thead td {
  background-color: #259791;
  color: #fff;
  font-weight: bold;
}

table.data-table thead tr.minor td {
  background-color: #d7d7d7;
  color: #333;
}

/*
input[type=checkbox] {
  outline: none !important;
  border: 1px solid #929292 !important;
  width: 30px !important;
  height: 30px !important;
  opacity: 1 !important;
  position: relative !important;
  -webkit-appearance: button !important;
  -moz-appearance: button !important;
  appearance: button !important;
  margin-bottom: -10px;
  vertical-align: middle;
  margin-right: 6px !important;
  margin-bottom: 0px !important;
}

input[type=checkbox]:checked:before {
  font-family: HSBCIcon-Font;
  content: "\f00a";
  color: #008580;
  font-size: 26px;
  display: inline-block;
  padding: 3px 2px !important;
}
*/

label.checkbox input[type="checkbox"] {display:none;}
label.checkbox span {
/*
  display:inline-block;
  border:2px solid #BBB;
  border-radius:10px;
  width:25px;
  height:25px;
  background:#C33;
  vertical-align:middle;
  margin:3px;
  position: relative;
  transition:width 0.1s, height 0.1s, margin 0.1s;
*/
  display:inline-block;
  outline: none !important;
  border: 1px solid #929292 !important;
  width: 30px !important;
  height: 30px !important;
  opacity: 1 !important;
  position: relative !important;
  margin-bottom: -10px;
  vertical-align: middle;
  margin-right: 6px !important;
  margin-bottom: 0px !important;
  background-color: #fff;
}
label.checkbox :checked + span {

}
label.checkbox :checked + span:after {
  font-family: HSBCIcon-Font;
  content: "\f00a";
  color: #008580;
  font-size: 26px;
  display: inline-block;
  padding: 0 0 0 2px;
  line-height: 30px;
}


.buynow-form label.checkbox {
    position: relative;
    margin-left: 42px;
}

.buynow-form label.checkbox input + span{
    position: absolute !important;
    left: -42px;
}

.buynow-form .checkbox-declare-indent {
    margin-left: 42px;
}


[data-question-group] {
  display: none;
}


.ploicyforms .footer-utility + .important-notes {
  padding-top: 60px;
}


.onlineprotector-homepage .footer-utility + .important-notes {
  padding-top: 30px;
}

.ploicyforms .footer-utility + .important-notes:before,
.onlineprotector-homepage .footer-utility + .important-notes:before {
  content: '';
  display: block;
  width: auto;
  height: 1px;
  border-top: 1px solid #333;
  margin: 0 15px 30px;
}


@media (min-width:768px) {
  .ploicyforms .footer-utility + .important-notes:before, 
  .onlineprotector-homepage .footer-utility + .important-notes:before {
      width: 720px;
      margin: 0 auto 30px;
  }

  .onlineprotector form .double-left-padding,
  .directvalueterm form .double-left-padding {
      padding-left: 30px;
      padding-right: 0;
  }

}

@media (min-width:992px) {
    .ploicyforms .footer-utility + .important-notes:before,
    .onlineprotector-homepage .footer-utility + .important-notes:before {
        width: 940px;
        margin: 0 auto 30px;
    }
}

@media (min-width:1200px) {
    .ploicyforms .footer-utility + .important-notes:before, 
    .onlineprotector-homepage .footer-utility + .important-notes:before {
        width: 1250px;
        margin: 0 auto 30px;
    }
}

.slider-rider-coverage .noUi-connect.force-style {
    right: 0 !important;
}
.slider-rider-coverage .noUi-origin.force-style {
    left: 100% !important;
}


#marketingmodal .modal-header {
  border-bottom: 0;
  padding: 20px;
}

#marketingmodal .modal-header .close:before {
  display: none;
}

#marketingmodal .modal-body h4 {
  line-height: 1.4;
  margin-bottom: 20px;
}

#marketingmodal .modal-footer {
  padding-top: 10px;
}

#marketingmodal .modal-footer .btn {
  padding: 10px 30px;
}

#marketingmodal .modal-footer .btn + .btn {
      margin-left: 0;
    }

@media (min-width:760px) {
    #marketingmodal .modal-footer .btn + .btn {
      margin-left: 15px;
    }
}

@media (-ms-high-contrast: active), (min-width: 1200px) and (-ms-high-contrast: none) {
  #marketingmodal.fade.show {
    overflow: visible !important;
  }
