@media all and (min-width: 992px) {
  .splitter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.programmatic-range-number__labelled {
  position: relative;
  margin-bottom: 1.5em;
}
.programmatic-range-number__labelled > * {
  display: inline-block;
}

div.pointed {
  position: relative;
  height: 1em;
  margin-top: 1em;
  width: 100%;
}
div.pointed:before,
div.pointed:after {
  content: "";
  position: absolute;
}
div.pointed:before {
  width: 10px;
  height: 10px;
  top: 0;
  left: 50%;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  border-color: #999;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
div.pointed:after,
div.pointed hr {
  position: absolute;
  border:  solid #999;
  border-width: 1px 0 0 0;
  top: -1px;
  margin: 0;
}
div.pointed:after {
  content: "";
  left: 0;
  right: calc(50% + 7px);
}
div.pointed hr {
  left: calc(50% + 7px);
  right: 0;
}

.calculators__landing {
  position: relative;
  /* max-width: 1600px; */
  max-width: 100%;
  margin: 0 auto;
}
.calculators__landing__img {
  background-size: cover;
  background-position: 50% 50%;
  display: block;
  width: 100%;
  height: 0;
}
.calculators__landing__img.mobile {
  padding-top: 56.25%;
}
.calculators__landing__img.desktop {
  display: none;
}

.calculator__wrap label + button {
  height: 18px;
}

.calculator__wrap label + button .icon {
  font-size: 15px;
}


@media all and (max-width: 400px) {
  .calculator__wrap label > span.break {
    display: block;
  }
}


@media all and (min-width: 992px) {

  .calculator__wrap label + button {
    height: 23px;
  }

  .calculators__landing__img.desktop {
    display: block;
    padding-top: 42.85%;
  }
  .calculators__landing__main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.calculators__landing__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.calculators__landing__copy {
  display: block;
  padding: 35px;
  background: rgba(255,255,255,.9);
}

@media all and (min-width: 992px) {
  .calculators__landing__copy {
    max-width: 480px;
  }

  .calculators__landing__img.mobile {
    display: none;
  }

  .calculators__landing__copy h1 {
    font-size: 38px;
    margin-bottom: .5em;
  }
  .calculators__landing__copy p {
    font-family: 'Univers Next for HSBC W01 Lt';
  }
}
@media (max-width: 991px) {
  .calculators__landing__copy {
    padding: 20px 0px;
  }
  .calculators__landing__copy h1 {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .calculators__landing__copy {
      background: #ededed;
  }

  .calculators__landing__img.mobile {
    display: none;
  }

  .calculators__landing__container {
    background: #ededed;
  }

}

.calculator__titler {
  font-family: 'Univers Next for HSBC W01 Md';
  margin: 3em 0 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calculator__titler a {
  text-decoration: underline;
  position: relative;
}
.calculator__titler h1 {
  margin: 0;
  padding: 0;
}

.calculator_breadcrumb {
  margin: 2em 0;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  counter-reset: calculator_breadcrumb-counter;
}
.calculator_breadcrumb > button {
  border:none;
  display: block;
  line-height: 1.4em;
  padding: 0.5em 0;
  margin: 0 0 .5em;
  border-bottom: 5px solid #919191;
  font-size: .7em;
  text-transform: uppercase;
  color: inherit;
  width: 100%;
  text-align: left;
  background: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.calculator_breadcrumb > button:active, .calculator_breadcrumb > button:focus {
  padding: 0;
  border: 1px dotted slategrey;
  border-bottom: 5px solid #919191;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
          box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}
.calculator_breadcrumb > button em {
  display: none;
  font-style: normal;
}
.calculator_breadcrumb > button.current {
  border-color: #DB0011;
}
.calculator_breadcrumb > button.current:active, .calculator_breadcrumb > button.current:focus {
  padding: 0;
  border-bottom: 5px solid #DB0011;
}
.calculator_breadcrumb > button.disabled {
  color: #333333;
  border-bottom-color: #333333;
  cursor: default;
  pointer-events: none;
}
.calculator_breadcrumb > button.disabled:active, .calculator_breadcrumb > button.disabled:focus {
  padding: 0;
  border-bottom: 5px solid rgb(215, 215, 215);
}
@media (max-width: 991px) {
  .calculator_breadcrumb > button span {
    position: absolute;
    left: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  .calculator_breadcrumb > button em {
    display: inline-block;
  }
  .calculator_breadcrumb > .current.live span {
    opacity: 1;
  }
}


.calculator__wrap{
  background: url(../images/calculators/bg.jpg) no-repeat center center;
  background-size: cover;
}

.calculator__wrap .calculator-header-steps{
  background-color: white;
}
@media all and (max-width: 992px){
  .calculator__wrap {
    background: url(../images/calculators/bg-mobile.jpg) no-repeat center center ;
    /* background-image: cover; */
    /* background-size: 100% auto; */
  }
}

.calculator__box {
  background: rgba(255,255,255,.8);
  border: 1px solid #efefef;
  margin: 3em 0 4em;
}
@media (min-width: 768px) {
  .calculator__box,
  .calculator__box > * {
    min-height: 521px;
  }
}
.calculator__box > * {
  padding: 1em;
}
.calculator__box h2,
.calculator__box legend {
  display: block;
  width: 100%;
  border: none;
  /* font-size: 1.35em; */
  font-size: 30px;
  font-family: 'Univers Next for HSBC W01 Rg';
  font-weight: normal;
  color: #333;
}
@media all and (min-width: 992px) {
  .calculator__box > * {
    padding: 2em;
  }
  .calculator__box h2,
  .calculator__box legend {
    margin-left: 0;
    margin-right: 0;
  }
  .calculator__box h2 span,
  .calculator__box h3 span,
  .calculator__box legend span,
  .calculator__box p span,
  .calculator__results__quickinfo span.name
  {
    display: inline-block;
    word-break: break-word;
  }

  .calculator__box label span {
    display: inline;

  }
}




/* FORM */
.calculator__form__beta {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: #fff;
  text-align: center;
  padding: 0;
  position: relative;
}
.calculator__form__beta.bgcolor1,
.calculator__form__beta.bgcolor1:before {
  background-color: #31404A;
  /* background-image: linear-gradient(to bottom, rgba(49,64,74,0.7) 0%,rgba(49,64,74,0.7) 100%), url(/assets/images/calculators/retirement/1-factoid-1280x1280-ratio1-1.jpg); */
}
.calculator__form__beta.bgcolor2,
.calculator__form__beta.bgcolor2:before {
  background-color: #004F4B;
}
.calculator__form__beta.bgcolor3,
.calculator__form__beta.bgcolor3:before {
  background-color: #002951;
}
.calculator__form__beta.bgcolor4,
.calculator__form__beta.bgcolor4:before {
  background-color: #1B3E02;
}
.calculator__form__beta.bgcolor5,
.calculator__form__beta.bgcolor5:before {
  background-color: #4E3A7C;
}
.calculator__form__beta.bgcolor6,
.calculator__form__beta.bgcolor6:before {
  background-color: #D19012;
}
.calculator__form__beta.bgcolor_inverted,
.calculator__form__beta.bgcolor_inverted:before {
  background-color: #ffffff;
  color: inherit;
}
.calculator__form__beta.bgcolor_inverted h3 {
  color: inherit;
}
.calculator__form__beta.bgcolor_inverted p em {
  color: #269792;
}
/* @media (max-width: 991px) {
  .calculator__form__beta {
    background-image: none!important;
  }
} */
@media all and (min-width: 992px) {
  .calculator__form__beta > * {
    position: relative;
    z-index: 1;
  }
  .calculator__form__beta:before {
    content: "";
    opacity: .8;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }
}

.calculator__form__beta__inner {
  padding: 2em;
}
.calculator__form__beta__inner h3 {
  color: #fff;
  font-family: 'Univers Next for HSBC W01 Rg';
  font-weight: bold;
  /* font-size: 1.1em; */
  font-size: 24px;
  margin-bottom: 30px;

}
.calculator__form__beta__inner p {
  /* font-size: .8em; */
  font-size: 18px;
  /* padding: 0 80px; */
  line-height: 22px;
  margin: 0 auto;
}

.calculator__form__beta__inner p.footnote {
    font-size: 80%;
    text-align: left;
    padding: 0 !important;
    margin: 0;
    width: 100%;
}

.calculator__form__beta__inner p.footnote a {
    color: white;
}

.calculators__btnset.footnote {display: block;}

.calculators__btnset.footnote > div {margin: 0 0 5px;}

.calculator__form__beta__inner span.monthlyIncome6070 {
  font-size: 0.5em;
  overflow-wrap: break-word;
  display: inline-block;
  width: 100%;
  height: 100%;
  left: 0px;
  position: relative;
  line-height: 1.45em;
  margin-bottom: -4px;
  font-size: 50px;
  text-align: center;
}

.calculator__form__beta__inner em {
  font-style: normal;
  font-size: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}
.calculator__form__beta__inner em img {
  display: block;
  width: 0.7em;
  height: auto;
  margin-bottom: 5px;
}
.calculator__form__beta__inner em span {
  white-space: nowrap;
  font-size: 55px;
}
.calculator__form__beta__inner em sup {
  font-size: .45em;
  margin-right: .5em;
}

.calculator__form__beta__inner em.monthlyIncome-retirement-step-2 {
  margin: 0;
  margin-left: -30px;
}

.calculator__form__beta__inner em.monthlyIncome-retirement-step-2 img{
  margin-bottom: 145px;
}

.calculator__form__beta .calculators__btnset {
  margin-top: 40px;
}

.calculator__fields {
  font-size: .9em;
}

.calculator__fields.row {
  margin-right: 0;
  margin-left: 0;
}

.calculator__fields dt {
  font-weight: normal;
  /* margin-bottom: .5em; */
  margin-bottom: 15px;
}

.calculator__wrap label {
  margin: 0;
  font-size: 18px;
  display: inline;
}

.calculator__fields .form-group {
  margin-bottom: 2.5em;
}

.calculator__fields .form-control {
  height: 40px;
  /*line-height: 1em;*/
}
.calculator__fields .selectBox-dropdown .selectBox-label {
  /*line-height: 32px;*/
}

.currency-text-box .input-group-addon {
  padding-right: 0;
  font-size: 14px;
  color: inherit;
  font-family: inherit;
  border-bottom-color: #d5d5d5;
  border-left-color: #d5d5d5;
  border-top-color: #d5d5d5;
}

.has-error .currency-text-box .input-group-addon,
.has-error .currency-text-box input.form-control.number-only-input  {
  border-color: #83000A;
  background-color: rgba(131, 0, 10, 0.05);
}

.currency-text-box input.form-control.number-only-input {
  border-bottom-color: #d5d5d5;
  border-right-color: #d5d5d5;
  border-top-color: #d5d5d5;
}


.currency-text-box input.form-control.number-only-input:hover {
  border-bottom-color: #D7D8D6;
  border-right-color: #D7D8D6;
  border-top-color: #D7D8D6;
}

.currency-text-box .form-control {
  padding-left: 0;
  border-left: 0;
}

.currency-text-box .slider-text-box {
  width: 6.8em;
  text-align: left;
}

.percentage-text-box .input-group-addon {
  padding-left: 5px;
  font-size: 14px;
  color: inherit;
  font-family: inherit;
  border: none;
  background: transparent;
}

.percentage-text-box .form-control {
  padding-right: 0;
  /* border-right: 0; */
  width: 5em;
}

@media all and (min-width: 992px) {
  .calculator__form > * {
    width: 50%;
    min-height: 624px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

  }
  .calculator__fields {
    font-size: .7em;
  }
  .calculators__btnset {
    margin-top: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .calculators__btnset > * {font-size: .9em;}
  .calculator__form__beta .calculators__btnset {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-right: auto;
  }
  .calculator__box form,
  .calculator__form__beta__inner {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .calculator__box form,
  .calculator__form__beta__inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .calculator__box form fieldset,
  .calculator__box form .calculators__btnset {
    width: 100%;
  }
  .calculator__form__beta__inner__copy {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 24em;
  }

  h2.surplus-desc {
    font-family: "Univers Next for HSBC W01 Lt";
  }
  /* START : Retirement */
  .bgcolor1.retirement p {
    padding: 0 18%;
  }

  .calculator__form__beta__inner__copy.retirement-step-2 {
    max-width: 100%;
  }
  .calculator__form__beta__inner__copy.retirement-step-2 h3 {
    padding-top: 64px;
    width: 85%;
    margin: 0 auto 30px;
  }

  .bgcolor5.retirement .calculator__form__beta__inner__copy {
    max-width: 28em;
  }

  .bgcolor5.retirement .calculator__form__beta__inner__copy p {
    padding: 0 17%;
  }

  .bgcolor5.retirement .calculator__form__beta__inner__copy em sup {
    top: -1.2em;
  }

  /* START : Protection */
  .bgcolor1.protection p,
  .bgcolor2.protection p {
    padding: 0 50px;
  }

  .bgcolor3.protection p {
    padding: 0 80px;
  }

  /*START : Savings */
  .bgcolor1.savings p,
  .bgcolor2.savings p {
    padding: 0 50px;
  }

  .bgcolor2.savings .calculator__form__beta__inner__copy em sup{
    top: -1.2em;
  }

  /*START : education*/
  .bgcolor1.education p {
    padding: 0 50px;
  }

}

/* RESULTS */
.social__sharing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em 0;
}
.social__sharing span {margin-right: .25em;}
.social__sharing a {
  display: block;
  width: 1.75em;
  height: 1.75em;
  border-radius: 1.75em;
  overflow: hidden;
  text-indent: -9999px;
  background: #919191;
  margin: 0 .25em;
  background-repeat: no-repeat;
  background-position: center;
}
.social__sharing a.fb {
  background-color: #395899;
  background-image: url(../images/calculators/social--fb.svg);
}
.social__sharing a.tw {
  background-color: #42a4f5;
  background-image: url(../images/calculators/social--tw.svg);
}
.social__sharing a.em {
  background-image: url(../images/calculators/social--email.svg);
}
.social__sharing a.pr {
  background-image: url(../images/calculators/social--print.svg);
}

.calculator__results__beta {
  background: #efefef;
  font-size: .85em;
}

.calculator__results__beta_wrap {
  display: flex;
  flex-direction: column;
  height: calc(100%);
}

.calculator__results__beta aside {
  /* margin-top: 2em; */
  margin-top: auto;
  padding-top: 2em;
}

.calculator__results__beta aside strong a {
  text-decoration: underline;
}

@media (max-width: 767px){

}

@media all and (min-width: 992px) {
  .calculator__results > *.calculator__results__alpha {
    width: 60%;
    max-width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .calculator__results__alpha > * {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .calculator__results__alpha > *.social__sharing {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .calculator__results__alpha > .retirement-gap, .calculator__results__alpha > .retirement-gap{
    width: 100%;
  }

  .calculator__results > *.calculator__results__beta {
    width: 40%;
    max-width: 40%;
    padding-top: calc(2em + 18px);
    font-size: 18px;
  }

  .calculator__results > *.calculator__results__beta p{
    line-height: 22px;
    margin-bottom: 5px;
  }
  .calculator__results__beta .two-decimal-number-input {
    padding-right: 12px;
  }
}

.calculator__results__beta .rangeslider.rangeslider--horizontal {
  margin: 30px 0 5px;
  border: 1px solid #4b5d6a;
}

.calculator__results__beta .percentage-text-box .input-group-addon {
  background: #efefef;
}


.calculator__results cite {
  display: block;
  width: 100%;
  font-size: .65em;
  font-style: normal;
  padding-top: 1.5em;
  border-top: 1px solid #ccc;
}
.calculator__results cite ol {
  padding: 0;
  list-style: none;
  counter-reset: calculatorCite;
}
.calculator__results cite ol li {
  margin: 0;
  padding-left: 1em;
  position: relative;
}
.calculator__results cite ol li:before {
  counter-increment: calculatorCite;
  content: counter(calculatorCite);
  vertical-align: super;
  font-size: .75em;
  opacity: .5;
  margin-right: 0;
  width: 1em;
  position: absolute;
  left: 0;
  -webkit-transform: translateY(5%);
          transform: translateY(5%);
  margin-top: -4px;
}
.calculator__results cite ol li a{
    -webkit-text-decoration: #677b88 none;
            text-decoration: #677b88 none; /*light slate white 15%*/
}
.calculator__results cite ol li a:hover{
    -webkit-text-decoration: #000000 underline;
            text-decoration: #000000 underline;
}
@media (max-width: 991px) {
  .calculator__results {
    background: #fbfcfe;
  }
}


.calculator__results__quickinfo {
  list-style: none;
  margin: 1em 0;
  padding: 0;
  width: 100%;
}

.calculator__results__quickinfo li {
  position: relative;
  line-height: 1.4em;
  margin: 1em 0;
}

.calculator__results__quickinfo li img {
  display: inline-block;
  width: 3em;
  height: 3em;
  vertical-align: center;
  position: absolute;
  top: 0;
  left: 0;
}

.calculator__results__quickinfo li span {
  display: inline-block;
}
.calculator__results__quickinfo li strong {
  display: block;
  font-size: 1.4em;
  line-height: 1em;
}

@media (max-width: 991px) {
  .calculator__results__quickinfo li {
    min-height: 40px;
    padding-left: 4em;
  }
}
@media all and (min-width: 992px) {
  .calculator__results__quickinfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1em -1em;
    font-size: .75em;
  }
  .calculator__results__quickinfo li {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
            flex: 1 0 0;
    padding-left: 5em;
    padding-right: 0em;
    width: 33.33%;
  }
  .calculator__results__quickinfo li img {
    width: 4em;
    height: 4em;
    left: 0.5em;
  }
  .calculator__results__quickinfo li span {
    display: block;
    font-size: 18px;
  }
  .calculator__results__quickinfo li b {
    font-size: 18px;
  }

  .calculator__results__quickinfo li:not(:first-child) {
    border-left: 1px solid #ccc;
  }
  .calculator__results__quickinfo li span.name {
    display: inline-block;
  }
  .calculator__results__quickinfo li strong {
    /* font-size: 3em; */
    font-size: 70px;
    font-family: "Univers Next for HSBC W01 Rg";
  }
}

.coverage_details ol {
  list-style: none;
  margin: 1em 0;
  padding: 0;
}
.coverage_details ol li {
  margin-bottom: 1em;
}
.coverage_details__bar {
  background: #005e58;
  color: #fff;
  font-size: .65em;
  padding: .5em;
  text-align: right;
}

.other_calculators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
          margin-top: 20px;
}
.other_calculators a {
  display: block;
  width: 23%;
  font-size: .8em;
  text-align: center;
  padding: .5em .5em;
}

.other_calculators a.highlighted {
  background: #DB0011;
  color: #fff;
}

.currency-text-box{
 width: 10.2em;
}

@media (max-width: 767px){
  .currency-text-box{
    width: 100%;
  }

  .visible-xs {
      display: inline !important;
  }
}

.form-group input.form-control.slider-text-box{
  width: 6em;
  text-align: left;
}

.percentage-text-box{
  /* width: 7em; */
  width: 95px;
}

.text-box{
  width: 80%;
}

.two-digit-text-box{
  width: 4em;
  text-align: center;
}
@media (max-width: 767px){
    .two-digit-text-box{
        text-align: left;
    }
}

#id_country{
  margin-top: 1em;
}

.one-decimal-number-input{
    width: 60px;
    text-align: left;
}



/* HIDE SHOW */
.calculator_step {
  display: none;
}
.calculator_step.active {
  display: block;
}

.calculator_step.active .calculator__form__alpha .back_btn:hover {
  text-decoration: underline;
}
.calculator_step.active .calculator__form__beta__inner,
.calculator_step.active .calculator__form__beta:before,
.calculator_step.active .calculator__form__alpha .back_btn {
  visibility: hidden;
  opacity: 0;
}
.calculator_step.active .calculator__form__alpha .js-np {
  display: none;
}
.calculator_step.active.primed .calculator__form__beta__inner,
.calculator_step.active.primed .calculator__form__beta:before,
.calculator_step.active .calculator__form__alpha .back_btn {
  visibility: visible;
  opacity: 1;
}
.calculator_step.active.primed .calculator__form__alpha .js-np {
  display: inline-block;
}
.calculator_step.active.primed .calculator__form__alpha .js-continue {
  display: none;
}
.calculator_step.active.primed .calculator__form__beta .js-np {
  display: none;
}
@media (max-width: 991px) {
  .calculator_step.active .calculator__form__beta__inner {
    display: none;
  }
  .calculator_step.active.primed .calculator__form__beta__inner {
    display: block;
  }
  .calculator_step.active.primed .calculator__form__alpha .js-continue {
    display: inline-block;
  }
  .calculator_step.active.primed .calculator__form__alpha .js-np {
    display: none;
  }
  .calculator_step.active.primed .calculator__form__beta .js-np {
    display: inline-block;
  }
}
@media all and (min-width: 992px) {
  .calculator_step.active.primed .calculator__form__beta:before {
    opacity: .8;
  }
}



/* PRINT STYLES */

@media print {

  .visuallyhidden {
      display:none;
  }

  .calculators__landing__container,
  .calculator__wrap,
  .calculator__wrap > .container,
  footer.container {
    width: 100%;
    margin: 0;
    padding: 0;
    float: none;
  }

  .calculators__landing .calculators__landing__img,
  .calculators__landing__main .calculators__landing__copy .btn,
  .calculator__titler > a,
  .calculator_breadcrumb,
  .important-notes,
  .sub-footer,
  footer ul,
  .splitter__beta.calculator__results__beta .rangeslider,
  .splitter__beta.calculator__results__beta > p:first-child b,
  .splitter__beta.calculator__results__beta .rangeslider + .clearfix,
  .splitter__beta.calculator__results__beta .btn,
  .splitter__beta.calculator__results__beta .pointed,
  .splitter__beta.calculator__results__beta > aside,
  .splitter__alpha.calculator__results__alpha .social__sharing,
  .calculators__btnset,
  .calculator_step {
    display: none !important;
  }

  .calculator_step.print-visible {
    display: block !important;
  }

  @page { margin: 1cm; }

  .calculators__landing__container {height: auto;}
  .calculators__landing__main .calculators__landing__copy {
    padding: .5cm;
    border: 1px solid #ccc;
    margin: 3cm 0;
  }

  a {
    color: #000;
  }

  .calculator__box.splitter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .calculator__box.splitter > * {
    padding: .5cm;
    width: 50%;

  }

  .calculator__box.splitter > .splitter__beta {
    border-left: 1px solid #efefef;
  }
  .calculator__box.splitter > .splitter__alpha {
  }

.calculator__box.calculator__results.splitter > .splitter__beta {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 30%;
    border-left: none;
    -webkit-box-align: flex-start;
        -ms-flex-align: flex-start;
            align-items: flex-start;
  }
  .calculator__box.calculator__results.splitter > .splitter__alpha {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 68%;
    border-left: 1px solid #efefef;
  }

  .calculator__form__beta__inner__copy {
    margin-bottom: 30px;
  }

  .calculator__form__beta__inner__copy em img {
    -webkit-filter: invert(100%); /* Safari 6.0 - 9.0 */
    filter: invert(100%);
  }

  .calculator__form__beta__inner em span {
    font-size: 40px !important;
  }

  .calculator__results__quickinfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1em -1em;
    font-size: .75em;
  }
  .calculator__results__quickinfo li {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
            flex: 1 0 0;
    padding-left: 1em;
    padding-right: 1em;
    width: 33.33%;
  }
  .calculator__results__quickinfo li img {
    width: 4em;
    height: 4em;
    left: 1em;
    position: relative;
    margin-bottom: 20px;
  }

  .calculator__results__quickinfo li span {
    display: block;
  }
  .calculator__results__quickinfo li:not(:first-child) {
    border-left: 1px solid #ccc;
  }
  .calculator__results__quickinfo li span.name {
    display: inline-block;
  }
  .calculator__results__quickinfo li strong {
    font-size: 3em;
  }


  /* ACTIVE */
  /* PRIMED */
  .calculator_step {
    display: block;
    page-break-inside: avoid;
  }
  .calculator_step .calculator__form__beta__inner,
  .calculator_step .calculator__form__beta:before {
    visibility: visible;
    opacity: 1;
  }



}

/* START: reset rangeslider*/
.rangeslider, .rangeslider__fill{
  -webkit-box-shadow: none;
  box-shadow: none;
}

.rangeslider__handle {
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* END : reset rangeslider*/




/*START HERE: Mobile*/

@media(max-width: 414px){
  .calculator__titler{
    margin: 2em 0 0;
  }

  .calculator__titler a {
    text-decoration: underline;
    margin-top: -25px;
    z-index: 1000;
    position: absolute;
    right: 15px;
  }

  .calculator_breadcrumb {
    margin: 3em 0 0;
  }

  .calculator_breadcrumb > button {
    font-size: 14px;
  }

  .calculator__box {
    margin: 25px 5px;
  }

  /* .calculator__box > * {
    padding: 25px;
  } */
  .calculator__box h2 {
    font-size: 20px;
    font-family: 'Univers Next for HSBC W01 lt';
    line-height: 24px;
    width: 90%;
    margin-bottom: 15px;
  }
  .calculator__box legend {
    font-size: 25px;
    font-family: 'Univers Next for HSBC W01 lt';
    line-height: 30px;
    width: 90%;
    margin-bottom: 15px;
  }

  .calculator__wrap {
    margin-top: 20px;
  }

  .calculator__wrap label {
    font-size: 16px;
  }

  .calculator__fields {
    margin-bottom: 40px;
  }

  .calculator__fields dt {
    margin-bottom: 2px;
  }

  .splitter__alpha.calculator__form__alpha {
    padding: 25px;
  }

  .calculator__fields .form-group {
    margin-bottom: 20px;
  }

  button.btn {
    padding: 12px 0;
  }

  .text-box {
    width: 100%;
  }

  .two-digit-text-box {
    width: 60px;
  }

  .two-decimal-number-input {
    text-align: left;
  }

  .calculator_step.active.primed .calculator__form__beta__inner {
    padding: 40px;
  }

  .calculator__form__beta__inner h3 {
    color: #fff;
    font-family: 'Univers Next for HSBC W01 rg';
    font-weight: 600;
    font-size: 18px;
    margin: 0 0 25px 0;
    line-height: 26px;
  }

  .calculator__form__beta__inner em {
    margin-bottom: 25px;
  }

  .calculator__form__beta__inner em img {
    width: 40px;
    height: 40px;
  }

  .calculator__form__beta__inner em span {
    font-size: 48px;
  }

  .calculator__form__beta__inner p {
    font-size: 14px;
    /* width: 80%; */
    text-align: center;
    /* margin-left: 10%; */
    padding: 0 27px;
  }

  .calculator_step.active.primed .calculator__form__beta__inner {
    padding: 20px;
  }

    /* START: Retirement */
    .calculator_step.active.primed .calculator__form__beta.bgcolor1.retirement {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(49,64,74,0.9)),to(rgba(49,64,74,0.9))), url(/assets/images/calculators/retirement/1-factoid-1280x1280-ratio1-1.jpg) !important;
      background-image: linear-gradient(to bottom, rgba(49,64,74,0.9) 0%,rgba(49,64,74,0.9) 100%), url(/assets/images/calculators/retirement/1-factoid-1280x1280-ratio1-1.jpg) !important;
      /* background: linear-gradient(to bottom, rgba(49,64,74,0.7) 0%,rgba(49,64,74,0.7) 100%); */
    }


    .calculator_step.active.primed .calculator__form__beta.bgcolor2.retirement {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,79,75,0.9)),to(rgba(0,79,75,0.9))), url(/assets/images/calculators/retirement/2-factoid-1280x1280-ratio1-1.jpg) !important;
      background-image: linear-gradient(to bottom, rgba(0,79,75,0.9) 0%,rgba(0,79,75,0.9) 100%), url(/assets/images/calculators/retirement/2-factoid-1280x1280-ratio1-1.jpg) !important;
      /* background: linear-gradient(to bottom, rgba(49,64,74,0.7) 0%,rgba(49,64,74,0.7) 100%); */
    }

    .calculator_step.active.primed .calculator__form__beta.bgcolor3.retirement {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,41,81,0.9)),to(rgba(0,41,81,0.9))), url(/assets/images/calculators/retirement/3-factoid-1280x1280-ratio1-1.jpg) !important;
      background-image: linear-gradient(to bottom, rgba(0,41,81,0.9) 0%,rgba(0,41,81,0.9) 100%), url(/assets/images/calculators/retirement/3-factoid-1280x1280-ratio1-1.jpg) !important;
      /* background: linear-gradient(to bottom, rgba(49,64,74,0.7) 0%,rgba(49,64,74,0.7) 100%); */
    }

    .calculator_step.active.primed .calculator__form__beta.bgcolor4.retirement {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(27,62,2,0.9)),to(rgba(27,62,2,0.9))), url(/assets/images/calculators/retirement/4-factoid-1280x1280-ratio1-1.jpg) !important;
      background-image: linear-gradient(to bottom, rgba(27,62,2,0.9) 0%,rgba(27,62,2,0.9) 100%), url(/assets/images/calculators/retirement/4-factoid-1280x1280-ratio1-1.jpg) !important;
      /* background: linear-gradient(to bottom, rgba(49,64,74,0.7) 0%,rgba(49,64,74,0.7) 100%); */
    }

    .calculator_step.active.primed .calculator__form__beta.bgcolor5.retirement {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(78,58,124,0.9)),to(rgba(78,58,124,0.9))), url(/assets/images/calculators/retirement/5-factoid-1280x1280-ratio1-1.jpg) !important;
      background-image: linear-gradient(to bottom, rgba(78,58,124,0.9) 0%,rgba(78,58,124,0.9) 100%), url(/assets/images/calculators/retirement/5-factoid-1280x1280-ratio1-1.jpg) !important;
      /* background: linear-gradient(to bottom, rgba(49,64,74,0.7) 0%,rgba(49,64,74,0.7) 100%); */
    }

    .calculators__landing__copy h1 {
      font-size: 24px;
      margin-top: 5px;
      margin-bottom: 20px;
  }

  .calculator__form__beta__inner em img {
    margin-bottom: 0px;
  }

  .bgcolor2.retirement .calculator__form__beta__inner em{
    margin-bottom: 0;
    margin-top: 0;
  }

  .bgcolor2.retirement .calculator__form__beta__inner em span {
    font-size: 28px;
    width: 170px;
  }

  .calculator__form__beta__inner em.monthlyIncome-retirement-step-2 img {
    width: 30px;
    height: 30px;
    margin-bottom: 75px;
  }

  .bgcolor3.retirement .calculator__form__beta__inner p {
    padding: 0;
  }

  .bgcolor3.retirement .calculator__form__beta__inner em,
  .bgcolor3.protection .calculator__form__beta__inner em  {
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .retirement-surplus h2 {
    margin: 0 0 25px 0;
    /* padding: 0; */
    width: 100%;
    line-height: 24px;
  }

  .calculator__results__quickinfo li img {
    width: 30px;
    height: 30px;
    margin-top: 5px;
  }

  .calculator__results__quickinfo li strong {
    font-size: 17px;
    display: inline-block;
  }
  .calculator__results cite {
    border-top: 1px solid #333333;
    padding-top: 28px;
    font-size: 14px;
  }

  .bgcolor5.retirement .calculator__form__beta__inner em sup {
    top: -1em;
  }

  h2.surplus-desc {
    font-size: 14px;
    line-height: 18px;
  }

  .calculator__results__quickinfo {
    margin: 28px 0;
  }

  .calculator__results cite ol {
    margin: 15px 0 50px;
  }

  .social__sharing {
    margin-bottom: 0px;
  }

  .social__sharing span {
    padding-top: 14px;
  }

  .social__sharing a{
    width: 45px;
    height: 45px;
    margin: 0 8px;
  }

  .calculator__results__beta {
    font-size: 16px;
  }

  .calculator__results__beta p {
    line-height: 17px;
  }

  .other_calculators {
    display: block;
  }

  .other_calculators a {
    padding: 15px 0;
    margin-top: 25px;
    width: 100%;
    font-size: 14px;
  }

  /*START: Protection*/
  .calculator_step.active.primed .calculator__form__beta.bgcolor1.protection {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(49,64,74,0.9)),to(rgba(49,64,74,0.9))), url(/assets/images/calculators/protection/1-factoid-1280x1280-ratio1-1.jpg) !important;
    background-image: linear-gradient(to bottom, rgba(49,64,74,0.9) 0%,rgba(49,64,74,0.9) 100%), url(/assets/images/calculators/protection/1-factoid-1280x1280-ratio1-1.jpg) !important;
    /* background: linear-gradient(to bottom, rgba(49,64,74,0.7) 0%,rgba(49,64,74,0.7) 100%); */
  }

  .calculator_step.active.primed .calculator__form__beta.bgcolor2.protection {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,79,75,0.9)),to(rgba(0,79,75,0.9))), url(/assets/images/calculators/protection/2-factoid-1280x1280-ratio1-1.jpg) !important;
    background-image: linear-gradient(to bottom, rgba(0,79,75,0.9) 0%,rgba(0,79,75,0.9) 100%), url(/assets/images/calculators/protection/2-factoid-1280x1280-ratio1-1.jpg) !important;
    /* background: linear-gradient(to bottom, rgba(49,64,74,0.7) 0%,rgba(49,64,74,0.7) 100%); */
  }

  .calculator_step.active.primed .calculator__form__beta.bgcolor3.protection {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,41,81,0.9)),to(rgba(0,41,81,0.9))), url(/assets/images/calculators/protection/3-factoid-1280x1280-ratio1-1.jpg) !important;
    background-image: linear-gradient(to bottom, rgba(0,41,81,0.9) 0%,rgba(0,41,81,0.9) 100%), url(/assets/images/calculators/protection/3-factoid-1280x1280-ratio1-1.jpg) !important;
    /* background: linear-gradient(to bottom, rgba(49,64,74,0.7) 0%,rgba(49,64,74,0.7) 100%); */
  }

  /*START HERE: savings*/
  .calculator_step.active.primed .calculator__form__beta.bgcolor1.savings {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(49,64,74,0.9)),to(rgba(49,64,74,0.9))), url(/assets/images/calculators/savings/1-factoid-1280x1280-ratio1-1.jpg) !important;
    background-image: linear-gradient(to bottom, rgba(49,64,74,0.9) 0%,rgba(49,64,74,0.9) 100%), url(/assets/images/calculators/savings/1-factoid-1280x1280-ratio1-1.jpg) !important;
    /* background: linear-gradient(to bottom, rgba(49,64,74,0.7) 0%,rgba(49,64,74,0.7) 100%); */
  }

  .calculator_step.active.primed .calculator__form__beta.bgcolor2.savings {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,79,75,0.9)),to(rgba(0,79,75,0.9))), url(/assets/images/calculators/savings/2-factoid-1280x1280-ratio1-1.jpg) !important;
    background-image: linear-gradient(to bottom, rgba(0,79,75,0.9) 0%,rgba(0,79,75,0.9) 100%), url(/assets/images/calculators/savings/2-factoid-1280x1280-ratio1-1.jpg) !important;
    /* background: linear-gradient(to bottom, rgba(49,64,74,0.7) 0%,rgba(49,64,74,0.7) 100%); */
  }

  .calculator_step.active.primed .calculator__form__beta.bgcolor3.savings {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,41,81,0.9)),to(rgba(0,41,81,0.9))), url(/assets/images/calculators/savings/3-factoid-1280x1280-ratio1-1.jpg) !important;
    background-image: linear-gradient(to bottom, rgba(0,41,81,0.9) 0%,rgba(0,41,81,0.9) 100%), url(/assets/images/calculators/savings/3-factoid-1280x1280-ratio1-1.jpg) !important;
    /* background: linear-gradient(to bottom, rgba(49,64,74,0.7) 0%,rgba(49,64,74,0.7) 100%); */
  }
  /*END HERE: savings*/

  /*START HERE: education*/
  .calculator_step.active.primed .calculator__form__beta.bgcolor1.education {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(49,64,74,0.9)),to(rgba(49,64,74,0.9))), url(/assets/images/calculators/education/1-factoid-1280x1280-ratio1-1.jpg) !important;
    background-image: linear-gradient(to bottom, rgba(49,64,74,0.9) 0%,rgba(49,64,74,0.9) 100%), url(/assets/images/calculators/education/1-factoid-1280x1280-ratio1-1.jpg) !important;
    /* background: linear-gradient(to bottom, rgba(49,64,74,0.7) 0%,rgba(49,64,74,0.7) 100%); */
  }


  .calculator_step.active.primed .calculator__form__beta.bgcolor2.education {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,79,75,0.9)),to(rgba(0,79,75,0.9))), url(/assets/images/calculators/education/2-factoid-1280x1280-ratio1-1.jpg) !important;
    background-image: linear-gradient(to bottom, rgba(0,79,75,0.9) 0%,rgba(0,79,75,0.9) 100%), url(/assets/images/calculators/education/2-factoid-1280x1280-ratio1-1.jpg) !important;
    /* background: linear-gradient(to bottom, rgba(49,64,74,0.7) 0%,rgba(49,64,74,0.7) 100%); */
  }

  .calculator_step.active.primed .calculator__form__beta.bgcolor3.education {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,41,81,0.9)),to(rgba(0,41,81,0.9))), url(/assets/images/calculators/education/3-factoid-1280x1280-ratio1-1.jpg) !important;
    background-image: linear-gradient(to bottom, rgba(0,41,81,0.9) 0%,rgba(0,41,81,0.9) 100%), url(/assets/images/calculators/education/3-factoid-1280x1280-ratio1-1.jpg) !important;
    /* background: linear-gradient(to bottom, rgba(49,64,74,0.7) 0%,rgba(49,64,74,0.7) 100%); */
  }

  .calculator_step.active.primed .calculator__form__beta.bgcolor4.education {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(27,62,2,0.9)),to(rgba(27,62,2,0.9))), url(/assets/images/calculators/education/4-factoid-1280x1280-ratio1-1.jpg) !important;
    background-image: linear-gradient(to bottom, rgba(27,62,2,0.9) 0%,rgba(27,62,2,0.9) 100%), url(/assets/images/calculators/education/4-factoid-1280x1280-ratio1-1.jpg) !important;
    /* background: linear-gradient(to bottom, rgba(49,64,74,0.7) 0%,rgba(49,64,74,0.7) 100%); */
  }
  /*END HERE: Education*/

}




/*START HERE: Small mobile - iphone 5 */
@media(max-width: 350px){
  .social__sharing a {
    width: 35px;
    height: 35px;
    margin: 0 8px;
  }

  .calculator__form__beta__inner em span {
      font-size: 37px;
  }
}
/*END HERE: Mobile*/
