.eclaims__page ol li{
    margin-bottom: 0.5em;
}
.eclaims__page ol li table{
    margin-bottom: 0.5em;
    margin-top: 1em;
}
.eclaims__page ol li table tr th{
    padding: 0 0.5em;
}

.eclaims__titler {
    font-family: 'Univers Next for HSBC W01 Md';
    margin: 1em 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.eclaims__titler a {
    text-decoration: underline;
    position: relative;
}
.eclaims__titler h1 {
    margin: 0;
    padding: 0;
}

section.no-padding {
    padding: 0;
}


p.feature-text {
    font-family: 'Univers Next for HSBC W01 Bd';
    font-size: 120%;
    margin-bottom: 40px;
}


section.eclaims fieldset {
    margin-bottom: 160px;
}

input[type="file"] {
    /* don't use display none because we want to be able to use tab to select*/
    width: 0;
    height: 0;
    overflow: hidden;
}

@media (max-width:768px) {
    .eclaims__titler {
        position: relative;
    }

    .eclaims__titler a.absolute {
        position: absolute;
        top: 0;
        padding: 8px;
    }
}