@font-face {
    font-family: 'Univers Next for HSBC W01 Bd';
    src: url('../fonts/w01/UniversNextforHSBCW01-Bd.eot');
    src: url('../fonts/w01/UniversNextforHSBCW01-Bd.eot?#iefix') format('embedded-opentype'), url('../fonts/w01/UniversNextforHSBCW01-Bd.woff') format('woff'), url('../fonts/w01/UniversNextforHSBCW01-Bd.ttf') format('truetype'), url('../fonts/w01/UniversNextforHSBCW01-Bd.svg#UniversNextforHSBCW01-Bd') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Univers Next for HSBC W01 Lt';
    src: url('../fonts/w01/UniversNextforHSBCW01-Lt.eot');
    src: url('../fonts/w01/UniversNextforHSBCW01-Lt.eot?#iefix') format('embedded-opentype'), url('../fonts/w01/UniversNextforHSBCW01-Lt.woff') format('woff'), url('../fonts/w01/UniversNextforHSBCW01-Lt.ttf') format('truetype'), url('../fonts/w01/UniversNextforHSBCW01-Lt.svg#UniversNextforHSBCW01-Lt') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Univers Next for HSBC W01 Md';
    src: url('../fonts/w01/UniversNextforHSBCW01-Md.eot');
    src: url('../fonts/w01/UniversNextforHSBCW01-Md.eot?#iefix') format('embedded-opentype'), url('../fonts/w01/UniversNextforHSBCW01-Md.woff') format('woff'), url('../fonts/w01/UniversNextforHSBCW01-Md.ttf') format('truetype'), url('../fonts/w01/UniversNextforHSBCW01-Md.svg#UniversNextforHSBCW01-Md') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Univers Next for HSBC W01 UtLt';
    src: url('../fonts/w01/UniversNextforHSBCW01-UtLt.eot');
    src: url('../fonts/w01/UniversNextforHSBCW01-UtLt.eot?#iefix') format('embedded-opentype'), url('../fonts/w01/UniversNextforHSBCW01-UtLt.woff') format('woff'), url('../fonts/w01/UniversNextforHSBCW01-UtLt.ttf') format('truetype'), url('../fonts/w01/UniversNextforHSBCW01-UtLt.svg#UniversNextforHSBCW01-UtLt') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Univers Next for HSBC W01 UtLtI';
    src: url('../fonts/w01/UniversNextforHSBCW01-UltLtI.eot');
    src: url('../fonts/w01/UniversNextforHSBCW01-UltLtI.eot?#iefix') format('embedded-opentype'), url('../fonts/w01/UniversNextforHSBCW01-UltLtI.woff') format('woff'), url('../fonts/w01/UniversNextforHSBCW01-UltLtI.ttf') format('truetype'), url('../fonts/w01/UniversNextforHSBCW01-UltLtI.svg#UniversNextforHSBCW01-UltLtI') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Univers Next for HSBC W01 Th';
    src: url('../fonts/w01/UniversNextforHSBCW01-Th.eot');
    src: url('../fonts/w01/UniversNextforHSBCW01-Th.eot?#iefix') format('embedded-opentype'), url('../fonts/w01/UniversNextforHSBCW01-Th.woff') format('woff'), url('../fonts/w01/UniversNextforHSBCW01-Th.ttf') format('truetype'), url('../fonts/w01/UniversNextforHSBCW01-Th.svg#UniversNextforHSBCW01-Th') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Univers Next for HSBC W01 LtIt';
    src: url('../fonts/w01/UniversNextforHSBCW01-LtIt.eot');
    src: url('../fonts/w01/UniversNextforHSBCW01-LtIt.eot?#iefix') format('embedded-opentype'), url('../fonts/w01/UniversNextforHSBCW01-LtIt.woff') format('woff'), url('../fonts/w01/UniversNextforHSBCW01-LtIt.ttf') format('truetype'), url('../fonts/w01/UniversNextforHSBCW01-LtIt.svg#UniversNextforHSBCW01-LtIt') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Univers Next for HSBC W01 ThIt';
    src: url('../fonts/w01/UniversNextforHSBCW01-ThIt.eot');
    src: url('../fonts/w01/UniversNextforHSBCW01-ThIt.eot?#iefix') format('embedded-opentype'), url('../fonts/w01/UniversNextforHSBCW01-ThIt.woff') format('woff'), url('../fonts/w01/UniversNextforHSBCW01-ThIt.ttf') format('truetype'), url('../fonts/w01/UniversNextforHSBCW01-ThIt.svg#UniversNextforHSBCW01-ThIt') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Univers Next for HSBC W01 Rg';
    src: url('../fonts/w01/UniversNextforHSBCW01-Rg.eot');
    src: url('../fonts/w01/UniversNextforHSBCW01-Rg.eot?#iefix') format('embedded-opentype'), url('../fonts/w01/UniversNextforHSBCW01-Rg.woff') format('woff'), url('../fonts/w01/UniversNextforHSBCW01-Rg.ttf') format('truetype'), url('../fonts/w01/UniversNextforHSBCW01-Rg.svg#UniversNextforHSBCW01-Rg') format('svg');
    font-weight: normal;
    font-style: normal;
}