@charset "utf-8";

/* CSS Document. */

html {
    -webkit-font-smoothing: antialiased;
}

@-webkit-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}


/* Resetting Bootstrap */

*:focus {
    outline: 3px auto -webkit-focus-ring-color;
    -webkit-appearance: none !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
}

label {
    font-family: inherit;
    font-weight: 400;
}

.label-inline {
    display: inline;
}


input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    -webkit-appearance: none !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
}

textarea,
input[type="email"],
input[type="text"] {
    padding-left: 15px;
    padding-right: 15px;
}

input[type="email"],
input[type="text"] {
    line-height: 1.2em;
}

textarea:focus,
input:focus {
    -webkit-appearance: none !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
}

.ol-latin {
    list-style-type: lower-latin;
}

.ol-roman {
    list-style-type: lower-roman;
}

ul ul {
    list-style-type: disc;
}

.rangeslider--horizontal {
    margin: 1em 0 1em;
}

.rangeslider--horizontal.has-bubble {
    margin: 4.5em 0 0.5em;
}

.rangeslider--horizontal {
    height: 12px;
    border-radius: 0;
}

.rangeslider__fill {
    background: #008580;
    border-radius: 0;
}

.rangeslider__handle {
    height: 20px;
    width: 20px;
}

.rangeslider--horizontal .rangeslider__handle {
    top: -5px;
}

.rangeslider__handle:after {
    display: none;
}

.rangeslider__value-bubble {
    border-radius: 0;
    background: #fff;
    font-size: .75em;
}

.reset-box-sizing,
.reset-box-sizing *,
.reset-box-sizing *:before,
.reset-box-sizing *:after {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
    /* max-width: 1600px; */
}
.table-responsive {
    overflow: visible;
}

.table-responsive>.table>thead>tr>th,
.table-responsive>.table>tbody>tr>th,
.table-responsive>.table>tfoot>tr>th,
.table-responsive>.table>thead>tr>td,
.table-responsive>.table>tbody>tr>td,
.table-responsive>.table>tfoot>tr>td {
    white-space: normal;
}

.table>thead>tr>th {
    border-bottom: 1px solid #979797;
}

  .popover {
    background-color: #ffffff;
    border: 1px solid #717171;
    border: 1px solid #717171;
    font-size: 1.4rem;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .popover.top > .arrow{
    border-top-color: #717171;

  }

  .popover.right > .arrow{
    border-right-color: #717171;
  }

  .popover.top > .arrow:after {
    content: " ";
    bottom: 1px;
    margin-left: -10px;
    border-bottom-width: 0;
    border-top-color: #ffffff;
  }

  .popover.right > .arrow:after {
    content: " ";
    /* bottom: 1px;
    margin-left: -10px;
    border-bottom-width: 0;*/
    border-right-color: #D7D8D6;
  }
/*Reset Carousel*/

/*Reset Range Slider*/
.noUi-horizontal {
    height: 11px !important;
}

.noUi-horizontal .noUi-handle{
    top: -10px !important;
}

.noUi-handle {
    border: 1px solid #979797 !important;
}
/* Heading */

h1,
h2,
h3,
h4 {
    /*    margin: .5em auto 1em;*/
    font-weight: normal;
    color: #333333;
    line-height: 1.2em;
}

h1 {
    margin-bottom: 25px;
}

h1,
h2 {
    font-family: "Univers Next for HSBC W01 Lt", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h3 {
    font-family: "Univers Next for HSBC W01 Bd";
}

h4 a {
 font-family: "Univers Next for HSBC W01 Lt";
 font-size: 22px;
 line-height: 1.2;
 font-weight: 300;
 text-align: left;
}

h4 a i {
    font-size: 28px;
}


p {
    margin-bottom: 1em;
    line-height: 1.45em;
}

strong,
b {
    font-family: "Univers Next for HSBC W01 Bd";
    font-weight: normal;
}

hr.section_divider {
    border-color: #ccc;
    margin: 0;
}

p:last-child {
    margin-bottom: 0;
}

p.tnc {
    font-size: 0.688em;
}

/* Special Container */


/*
.container-border {
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 1px solid #acacac;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.container-border-last {
    border-bottom: none;
    margin-bottom: 0;
}
*/


/*
.container-border-btmnone {
    margin-left: 15px;
    margin-right: 15px;
}
*/


/*
.container-border-btmnone p {
    margin-bottom: 0;
}
*/


/* Generic */

.space60 {
    display: block;
    height: 60px;
}

.space50 {
    display: block;
    height: 50px;
}

.space40 {
    display: block;
    height: 40px;
}

.space30 {
    display: block;
    height: 30px;
}

.space20 {
    display: block;
    height: 20px;
}

.space10 {
    display: block;
    height: 10px;
}

hr {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid #626469;
}

.img-fullwidth {
    width: 100%;
    height: auto;
}

.row.is-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media (min-width: 992px)  {
    .row.is-flex {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.is-flex .box-out {
    background: none;
    position: static;
}

.box-out {
    position: relative;
}

.box-out p {
    padding-bottom: 85px;
}

.info-text{
    font-size: 14px;
}

.r1-c3 h1,
.r1-c2 h1 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    color: #333333;
    font-family: "Univers Next for HSBC W01 Bd", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.r1-c4 h1,
.r1-c4 h2 {
    font-size: 24px;
    font-weight: normal;
    margin-top: 0;
    color: #333333;
    font-family: "Univers Next for HSBC W01", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.r1-c4 .row [class*="col-"] {
    margin-bottom: 30px;
}

.r1-c3 .row [class*="col-"],
.r1-c2 .row [class*="col-"] {
    margin-bottom: 50px;
}

.r1-c2 .row [class*="col-"]:last-child,
.r1-c3 .row [class*="col-"]:last-child {
    margin-bottom: 0;
}

.home-special h1 {
    font-family: "Univers Next for HSBC W01 Lt", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 1.7em;
}

a .icon {
    color: #DB0011;
    text-decoration: none;
}

a:hover .icon {
    color: #DB0011;
    text-decoration: none;
}


/*
.r1-c4 .row [class*="col-"]:last-child,
.r1-c2 .row [class*="col-"]:last-child {
    margin-bottom: 0;
}
*/

.tn-img {
    margin-bottom: 30px;
}

.no-border {
    margin-bottom: 60px;
}

.header-top0 h1 {
    margin-top: -10px;
}

.header-top0 h2 {
    margin-bottom: 50px;
    margin-top: 0;
    font-size: 1.4em;
}


/*
.bottom-border {
    position: relative;
    display: block;
    border-bottom: 1px solid #626469;
    padding-top: 50px;
    margin-bottom: 50px;
}
*/

.has-error .input-group .form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.has-error .input-group {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/*Homepage*/

.c-homepage {
    margin-bottom: 40px;
}

.c-homepage .carousel-inner {
    height: 255px;
    background: #EDEDED;
    /* background: red; */
}

.c-homepage .carousel-control {
    position: absolute;
    opacity: 1;
    background-image: none;
}

.carousel-control.left > span,
.carousel-control.right > span {
    position: absolute;
    bottom: 15px;
    color: #DB0011;
    text-shadow: none;
}

.carousel-control.left > span {
    left: 25px;
}

.carousel-control.right > span {
    right: 25px;
}

.carousel-indicators {
    bottom: 3px;
}

.carousel-caption {
    position: relative;
    left: 0;
    right: 0;
    padding-left: 15px;
    padding-right: 15px;
    text-shadow: none;
    text-align: left;
}

.c-homepage .carousel-caption p {
    font-family: "Univers Next for HSBC W01 Lt", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #333333;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 0;
}

.carousel-indicators li {
    display: inline-block;
    width: 25px;
    height: 5px;
    margin: 1px;
    text-indent: -999px;
    border: 1px solid #fff;
    border-radius: 0;
    cursor: pointer;
    background: #fff;
}

.carousel-indicators .active {
    margin: 0;
    width: 25px;
        height: 8px;
    border: solid 1px #DB0011;
    background: #DB0011;
}


/*
.dream-search {
    position: relative;
    height: 450px;
}
*/


/*
.dream-search,
.dream-search-inner {
    position: relative;
    min-height: 450px !important;
    padding-top: 30px;
    padding-bottom: 30px;
}
*/


/*
.dream-search-box {
    position: absolute;
    width: calc(100% - 30px);
    padding: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background: #fff;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
*/


/*
.dream-search-box h1 {
    font-weight: bold;
    font-size: 23px;
    margin-top: 0;
    color: #333333;
    font-family: "Univers Next for HSBC W01 Bd", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dream-search-box h2 {
    font-family: "Univers Next for HSBC W01 Rg", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}
*/

.dream-search-box .dream-search-small,
.dream-search-box-inner .dream-search-small,
.dream-search-box .error-message,
.dream-search-box-inner .error-message {
    margin-top: -10px;
    font-size: 14px;
    margin-bottom: 0;
}

.dream-search-box .error-message,
.dream-search-box-inner .error-message {
    color: #83000A;
}

.dream-search-box .error-message .icon,
.dream-search-box-inner .error-message .icon {
    padding-bottom: 3px;
}

.dream-search,
.dream-search-inner {
    position: relative;
    min-height: 300px !important;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 40px;
}

.dream-search {
    margin-bottom: 0;
}

.dream-search-box,
.dream-search-box-inner {
    width: 100%;
    padding: 30px;
    background: #fff;
}

.dream-search-box {
    float: right;
}

.dream-search-box h1,
.dream-search-box-inner h1 {
    font-weight: bold;
    font-size: 23px;
    margin-top: 0;
    color: #333333;
    font-family: "Univers Next for HSBC W01 Bd", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dream-search-box h2,
.dream-search-box-inner h2 {
    font-family: "Univers Next for HSBC W01 Rg", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.dream-suggestion-label {
    position: relative;
    margin-top: 30px;
}

.dream-suggestion-label p {
    font-size: 14px;
}

.dream-suggestion-label ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dream-suggestion-label li {
    padding-bottom: 10px;
    vertical-align: top;
    display: inline-block;
}

.dream-suggestion-label a {
    border: 1px solid #333333;
    color: #333333;
    padding: 7px;
    background: #fff;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    display: inline-block;
}

.dream-suggestion-label a:hover {
    color: #333333;
    text-decoration: none;
    border: 1px solid #333333;
    background: rgba(0, 0, 0, 0.05);
}

.dream-suggestion-label a:focus,
.dream-suggestion-label a:active {
    color: #333333;
    text-decoration: none;
    border: 1px solid #333333;
    background: rgba(0, 0, 0, 0.15);
}

.dream-search-box-inner .input-group .input-group-addon:first-child{
    padding-top: 8px;
    padding-right: 5px;
}



/*
.dream-suggestion-label span {
    white-space: nowrap;
}
*/


/* General */


/*
.btn-spacer {
    margin-right: 20px;
}

.btn-spacer:last-child {
    margin-right: 0;
}
*/

.btn[disabled] {
    opacity: .5;
}

.primary-btn-slate-absolute,
.secondary-btn-slate-absolute,
.outline-btn-slate-absolute,
.primary-btn-slate,
.secondary-btn-slate,
.outline-btn-slate {
    display: inline-table;
    background: #DB0011;
    color: #fff;
    padding: 10px 15px;
    font-size: 16px;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    border: 1px solid #DB0011;
}

.primary-btn-slate-absolute,
.secondary-btn-slate-absolute,
.outline-btn-slate-absolute {
    position: absolute;
    bottom: 0;
}
.disabled{
	cursor: default;
	pointer-events: none;
	opacity: 0.5;
}
.primary-btn-slate-absolute:hover,
.primary-btn-slate:hover {
    color: #fff;
    background: #A4000D;
    text-decoration: none;
    border: 1px solid #A4000D;
}

.primary-btn-slate-absolute:focus,
.primary-btn-slate-absolute:active,
.primary-btn-slate:focus,
.primary-btn-slate:active {
    color: #fff;
    background: #83000A;
    text-decoration: none;
    border: 1px solid #83000A;
}

.secondary-btn-slate-absolute,
.secondary-btn-slate {
    background: #4D6474;
    border: 1px solid #4D6474;
}

.secondary-btn-slate-absolute:hover,
.secondary-btn-slate:hover {
    color: #fff;
    background: #3E505D;
    text-decoration: none;
    border: 1px solid #3E505D;
}

.secondary-btn-slate-absolute:focus,
.secondary-btn-slate-absolute:active,
.secondary-btn-slate:focus,
.secondary-btn-slate:active {
    color: #fff;
    background: #253038;
    text-decoration: none;
    border: 1px solid #253038;
}

.tertiary-btn-slate {
    background-color: #d2d4d2;
    color: inherit;
    padding: 20px 0;
}

.outline-btn-slate-absolute,
.outline-btn-slate {
    background: transparent;
    color: #333333;
    border: 1px solid #333333;
}

.outline-btn-slate-absolute:hover,
.outline-btn-slate:hover {
    color: #333333;
    text-decoration: none;
    border: 1px solid #333333;
    background: rgba(0, 0, 0, 0.05);
}

.outline-btn-slate-absolute:focus,
.outline-btn-slate-absolute:active,
.outline-btn-slate:focus,
.outline-btn-slate:active {
    color: #333333;
    text-decoration: none;
    border: 1px solid #333333;
    background: rgba(0, 0, 0, 0.15);
}

.btn {
    font-size: 1em;
    padding: .5em 1.5em;
}

.btn-red,
.btn-primary {
    background: #DB0011;
    color: #fff;
}

.btn-red:hover,
.btn-primary:hover {
    background: #cc0000;
}

.btn-white {
    background: #fff;
    color: #333;
    border: 1px solid #666;
}

.btn-white:hover {
    background: #EDEDED;
    color: #333333;
    border: 1px solid #333333;
}
.btn-white:focus {
    background: #B6B7B6;
    color: #666;
    border: 1px solid #333333;
}

.btn-grey {
    background: #EDEDED;
    color: #333333;
    border: 1px solid #333333;
}

.btn-slate {
    background: #4d6474;
    color: #fff;
}

.btn-slate:hover,
.btn-slate:focus {
    background: #3e505e;
}

.btn-slate:active {
    background: #263039;
}

.back_btn {
    padding: 0;
    outline: 0;
    border: 0;
    background: transparent;
    height: 40px;
    font-size: .9em;
}

.back_btn:focus {
    outline: 5px auto -webkit-focus-ring-color;
}

.back_btn:before {
    font-family: HSBCIcon-Font;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1em;
    margin-right: .25em;
    content: "\f058";
    color: #DB0011;
    position: relative;
    top: -.15em;
    text-decoration: none !important;
}

.text_btn {
    padding: 0;
    outline: 0;
    border: 0;
    background: transparent;
    height: 40px;
    margin-right: 20px;
}

.text_btn:focus {
    outline: 5px auto -webkit-focus-ring-color;
}

.form-control{
    font-family: 'Univers Next for HSBC W01 Rg', sans-serif;
    font-weight: normal;
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 12px;
    font-size: 14px;
    color: #333333;
    background-color: #fff;
    background-image: none;
    border: 1px solid #929292;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.form-control.auto-width {
    width: auto;
}

.form-control.bottom_margined {
    margin-bottom: 1em;
}

.form-control.programmatic-range-input {
    width: auto !important;
}

.form-control:focus,
.form-control:active,
.input-group-addon.hover,
.input-group-addon.focus,
.input-group-addon.active {
    border-color: #376798 !important;
    /*  box-shadow: none;*/
}

@media (min-width: 768px) {
    .form-control:hover {
        border-color: #376798 !important;
        /*  box-shadow: none;*/
    }
}

.input-group-addon {
    -webkit-transition: border-color .15s;
    transition: border-color .15s;
    border-color: #929292;
}

textarea.form-control {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.4em;
    min-height: 6em;
}

textarea.form-control + small {
    display: block;
    font-size: .75em;
    margin-top: .5em;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: transparent;
    opacity: 0.5;
    color: rgba(51, 51, 51, 0.5);
    border-color: rgba(146, 146, 146, 0.5);
}


/* override default disabled attributes */

.totalbox[disabled] {
    background-color: #FFFFFF !important;
    opacity: 1;
    color: #000000;
    border-color: #000000;
    cursor: default;
}

.has-error .form-control,
.form-control.error  {
    background-color: rgba(131, 0, 10, 0.05);
    border-color: #83000a;
}

.has-error .input-group-addon {
    background-color: rgba(131, 0, 10, 0.05);
}

.has-error .secondary-error {
    display: block; /* change as per HSBCIDCU-1031*/
}

.has-error .help-block,
.has-error .help-block-secondary,
#date-error,
.date-validate + .error {
    color: #83000a;
}

.has-error .help-block:before,
.has-error .help-block-secondary:before {
    color: #83000a;
    content: "\f067";
}


#date-error:before,
.date-validate + .error:before {
    color: #83000a;
    content: "\f067";
    font-size: 16px !important;
    margin-top: 3px;
}

.has-error-1 .form-group__multi > span:first-child input,
.has-error-2 .form-group__multi > span:last-child input {
    background-color: rgba(131, 0, 10, 0.05);
    border-color: #83000a
}

.has-error-1 .help-block-multi.error-1,
.has-error-2 .help-block-multi.error-2  {
    color: #83000a
}

.has-error .help-block:before,
.has-error .help-block-secondary:before,
.has-error-1 .help-block-multi.error-1:before,
.has-error-2 .help-block-multi.error-2:before  {
    color: #83000a;
    content: "\f067";
}

.has-error-2 .form-group__multi span:last-child {
    background-color: rgba(131, 0, 10, 0.05);
    border-color: #83000a
}


.has-warning .form-control {
    background-color: rgba(186, 129, 17, 0.05);
    border-color: #ba8111;
}

.has-warning .help-block,
.has-warning .help-block-secondary {
    color: #333333;
}

.has-warning .help-block:before,
.has-warning .help-block-secondary:before {
    color: #333333;
    content: "\f052";
}

.has-success .form-control {
    color: rgba(51, 51, 51, 0.5);
    background-color: rgba(0, 133, 128, 0.05);
    border-color: #008580;
}

.has-success .help-block,
.has-success .help-block-secondary {
    color: #333333;
}

.has-success .help-block:before,
.has-success .help-block-secondary:before {
    color: #008580;
    content: "\f054";
}

.help-block,
.help-block-multi {
    display: none;
}

#date-error,
.date-validate + .error {
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 17px;
    position: relative;
}

.help-block,
.help-block-multi,
.help-block-secondary {
    padding-left: 30px;
    position: relative;
    font-size: 14px;
    margin-top: 5px;
}

.help-block-secondary {
    margin-top: 5px;
    margin-bottom: 10px;
}

.help-block:before,
.help-block-secondary:before  {
    margin-bottom: 10px;
}

#quick-quote-form .date-validate + .error{
    max-width: 200px;
}

.help-block:before,
.help-block-multi:before,
.help-block-secondary:before,
#date-error:before,
.date-validate + .error:before  {
    font-family: HSBCIcon-Font;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 24px;
    position: absolute;
    top: -2px;
    left: -2px;
}

.form-group__multi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
}

.form-group__multi.bottom_margined {
    margin-bottom: 1em;
}

.form-group__multi > span {
    display: inline-block;
    position: relative;
    padding: 0 1em 0 0;
    width: 100%;
}

.form-group__multi > span:last-child {
    padding: 0;
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .form-group__multi {
        margin: 0;
    }
    .form-group__multi > span:first-child {
        padding-left: 0;
    }
    .form-group__multi > span:last-child {
        padding-right: 0;
    }
}

.form-group__multi > span:after {
    content: "-";
    display: block;
    width: 1em;
    position: absolute;
    right: 0em;
    bottom: 0;
    text-align: center;
    line-height: 40px;
    color: #929292;
}

.form-group__multi > span:last-child:after {
    display: none;
}

.form-group__multi--date > span {
    /* width: 25%; */
    width: 100px;
}
.form-group__multi--residential_line2 > span {
    width: 33%;
}

.form-group__multi--date > span:last-child {
    /* width: 34%; */
    /* width: 25%; */
    width: 100px;
}

.form-group__multi.form-group__multi--date  input.form-control {
    padding: 0 12px;
}

.form-group__multi--date--no-days > span,
.form-group__multi--date--no-days > span:last-child {
    width: 50%;
}

.form-group__multi--phone > span:nth-child(1) {
    width: 100px;
}

.form-group__multi--phone > span:nth-child(2) {
    width: calc(100% - 100px);
    padding: 0;
}

.form-select_wrap {
    position: relative;
    /*overflow: hidden;*/
}

.form-select_wrap.tax-country {
    margin-bottom: 1em;
}

.form-select_wrap a.form-control {
    display: block!important;
    width: 100%!important;
    padding: 0px 34px 0 12px;
    box-sizing: border-box;
}

.form-select_wrap:after {
    font-family: HSBCIcon-Font;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f055";
    position: absolute;
    right: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-left: 1px solid #979797;
    padding-left: 15px;
    padding-right: 0;
    pointer-events: none;
}

.form-select_wrap.nodivider:after {
    border: none;
    display: none;
}


/* rule for inverting the caret*/
.form-select_wrap.invert:after {
    -webkit-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
    // border-right: 1px solid #ccc;
    border-left: none;
    padding-right: 15px;
    padding-left: 0;
}

.form-select_wrap .form-control option {
    padding: .5em 15px;
    width: 100% !important;
}

select.form-control {
    -webkit-appearance: none;
}

.selectBox-dropdown .selectBox-label {
    padding: 0;
    line-height: 40px;
    width: 100% !important;
    text-overflow: ellipsis;
}

.selectBox-dropdown .selectBox-arrow {
  background: none;
  border: 0;
  display: block;
  height: 40px;
  position: absolute;
  width: 44px;
}

.selectBox-dropdown .selectBox-arrow:after {
    content: "\f055";
    font-family: HSBCIcon-Font;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.form-select_wrap.invert .selectBox-dropdown .selectBox-arrow:after {
    -webkit-transform: translate(-50%,-50%) rotate(180deg) !important;
    transform: translate(-50%,-50%) rotate(180deg) !important;
}

.selectBox-dropdown-menu {
    border-radius: 0!important;
    border-color: #ccc;
    font-size: .75em;
}

.selectBox-options {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
}

.selectBox-options li a {
    padding: 12px;
    position: relative;
}

.selectBox-options li a:hover {
    text-decoration: none;
}

.selectBox-options li a:before {
    content: "";
    display: block;
    background: #ccc;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.selectBox-dropdown-menu {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.selectBox-options li:first-child a:before {
    display: none;
}

.newradio,
.newradio--inline {
    position: relative;
    padding: 0 0 0 1.5em;
}

.newradio {
    display: block;
    margin: 1.5em 0;
}

.newradio--inline {
    display: inline-block;
    margin-right: 1em;
    height: 40px;
}

.newradio--rightfloat {
    margin: 1.5em 0;
    text-align: right;
}

.newradio--rightfloat .newradio--inline {
    margin-left: 1em;
    margin-right: 0;
}

input[type=checkbox]:not(old),
input[type=radio]:not(old) {
    width: 2em;
    margin: 0;
    padding: 0;
    font-size: 1em;
    opacity: 0;
    position: absolute;
}

input[type=checkbox]:not(old) + label,
input[type=radio]:not(old) + label {
    display: block;
    margin: 0;
    line-height: 1.5em;
}

input[type=checkbox]:not(old) + label > span,
input[type=radio]:not(old) + label > span {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0.25em 0;
    border: 0.0625em solid #929292;
    background: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
}

input[type=checkbox]:not(old):focus + label > span,
input[type=radio]:not(old):focus + label > span {
    border-color: #376798;
    outline: 5px auto -webkit-focus-ring-color;
}

input[type=checkbox]:not(old) + label > span {
    border-radius: 0;
}

input[type=checkbox]:not(old):checked + label > span:before {
    content: '✓';
    display: block;
    width: 16px;
    color: #008580;
    font-size: 0.875em;
    line-height: 1em;
    text-align: center;
    text-shadow: 0 0 0.0714em rgb(115, 153, 77);
    font-weight: bold;
}

input[type=radio]:not(old) + label > span {
    border-radius: 16px;
}

input[type=radio]:not(old):checked + label > span > span {
    display: block;
    width: 8px;
    height: 8px;
    margin: 0;
    border: 0.0625em solid #008580;
    border-radius: 8px;
    background: #008580;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/*
.radio_range {
  display: flex;
  counter-reset: radio_range-counter;
}
.radio_range > .radio_range__item {
  flex: 1;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.radio_range > .radio_range__item:before {
  content: counter(radio_range-counter);
  counter-increment: radio_range-counter;
  line-height: 20px;
  width: 20px;
  color: #fff;
  background: #4d6474;
  text-align: center;
  margin-bottom: 1em;
  font-size: .65em;
}
.radio_range .radio_range__item label {
  width: 100%;
  display: block;
  padding: 0;
  margin: 0;
  text-align: center;
  border-top: 8px solid #000909;
  margin-left: 1px;
  padding-top: .5em;
  position: relative;
}
.radio_range .radio_range__item input:focus + label {outline: 5px auto -webkit-focus-ring-color;}
.radio_range .radio_range__item input[type="radio"] {
  position: absolute;
  right: 110%;
  opacity: 0;
}
.radio_range .radio_range__item.selected:before {
  background: #376798;
}
.radio_range .radio_range__item.selected label:before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…Igd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g);
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.radio_range .radio_range__item:nth-child(1) label {border-color: #33b8b2;}
.radio_range .radio_range__item:nth-child(2) label {border-color: #269792;}
.radio_range .radio_range__item:nth-child(3) label {border-color: #008580;}
.radio_range .radio_range__item:nth-child(4) label {border-color: #004f4b;}
.radio_range .radio_range__item:nth-child(5) label {border-color: #000909;}
*/

ul {
    margin-left: 0;
    padding-left: 20px;
}

.col2-rightline .col-sm-6:first-child,
.col2 .col-sm-6:first-child,
.col2-hideright .col-sm-6:first-child {
    border-right: none;
    border-bottom: 1px solid #acacac;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.col2 .col-sm-6:first-child {
    border-bottom: none;
    margin-bottom: 40px;
    padding-bottom: 0;
}

.col2-hideright .col-sm-6:first-child {
    border-bottom: none;
    margin-bottom: 40px;
    padding-bottom: 0;
}

.col2-hideright .col-sm-6:first-child {
    padding-bottom: 0;
    margin-bottom: 0;
}

.col2-rightline .col-sm-6:last-child,
.col2 .col-sm-6:last-child {
    padding-left: 15px;
}

.home-faq h3 {
    margin-top: 0;
    margin-bottom: 20px;
}


/* Main Navigation */

.header-block {
    padding: 10px 10px 0;
    display: block;
    position: relative;
    z-index: 100;
}

.navbar-default {
    margin-bottom: 0;
}

.navbar-toggle {
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-main li a {
    line-height: 1.13;
    border-bottom: 1px solid #ccc;
}

.small-height {
    color: #717171
}

.icon-menu:before {
    font-size: 33px;
}


/* Page Header */

.header-page {
    position: relative;
    width: 100%;
    min-height: 250px;
    display: block;
    background-image: none;
    background: #ededed;
    margin-bottom: 40px;
}

.header-height {
    height: auto;
}

.featured {
    position: absolute;
    background: #ededed;
    width: calc(100% - 30px);
    padding: 15px 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.featured h1 {
    margin-top: 0;
}

.featured p {
    font-family: "Univers Next for HSBC W01 Lt", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #333333;
    font-size: 20px;
    line-height: 1.3;
}


/*Serving You Better*/

.serving-your-better h1 {
    margin-top: 0;
}


/*Comparison */

.comparision-data .col-sm-4 {
    margin-bottom: 15px;
}

.comparision-data .col-sm-4:nth-child(even) {
    border-right: 1px solid #acacac;
}

.comparision-data .col-sm-4:last-child {
    border-left: 1px solid #acacac;
    margin-left: -1px;
}


/*Saving & Investment*/

.footnote {
    margin-top: 40px;
    font-size: 14px;
    font-style: italic;
}


/*Life Insurance Plan*/

.life-insurance-container h1 {
    margin-top: 0;
}

.life-insurance-container h2 {
    font-family: "Univers Next for HSBC W01 Bd", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333333;
    font-size: 24px;
}

.life-insurance-container h3 {
    font-family: "Univers Next for HSBC W01 Rg", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333333;
    font-size: 24px;
}

.life-insurance-container .btn-left{
    float: left;
    padding-left: 15px;
    padding-right: 5px;
}

.comparison-chart h2 {
    font-family: "Univers Next for HSBC W01 Bd", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333333;
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 15px !important;
}

.comparison-chart .hsbc-content h3 {
    margin-bottom: 15px;
}

.comparison-chart .small-std {
    font-family: "Univers Next for HSBC W01 Rg", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: block;
}

.comparison-chart .row .col-xs-6 {
    border-left: 1px solid #acacac;
}

.comparison-data .col-xs-6:first-child {
    border-left: 1px solid transparent;
}

.comparison-chart .panel-body {
    padding: 0;
}

.comparison-chart .table {
    margin-bottom: 0;
}


/*Important Notes*/

.important-notes {
    display: block;
    /* background: #d2d4d1; */
    margin-bottom: 0;
}

.important-notes h3 {
    display: block;
    margin: .75em 0;
}

.important-notes .panel-title {
    font-size: 18px;
    font-weight: normal;
}

.important-notes small {
    display: block;
    font-size: .8em;
    line-height: 1.5em;
    margin: 1.5em 0;
    margin-top: 0;
    margin-bottom: 10px;
}

.important-notes__body {
    background: #fff;
}


/*Footer Utility*/

.footer-utility .row [class*="col-"] {
    margin-bottom: 0px;
}

.footer-utility h3 {
    margin-top: 0;
}

.footer-utility .input-group {
    width: 100%;
}

.footer-utility .form-control {
    border-right: 0;
}

.footer-utility .input-group-addon {
    border: 1px solid #929292;
    border-left: 0;
}

.footer-utility i {
    border-left: 1px solid;
    padding-left: 10px;
}

.footer-utility .question-results {
    width: 100%;
    border-bottom: 1px solid #929292;
}

#faq-search {
    margin-bottom: 30px;
    margin-top: 15px;
}

#faq-search .input-group .input-group-addon {
    cursor: pointer;
}

#faq-search .input-group .input-group-addon:hover {
    color: #376798;
    border-color: #376798;
}

#faq-search .input-group.error input,
#faq-search .input-group.error .input-group-addon {
    border-color: #83000A !important;
    background-color: #f9f3f4;
}

#faq-search .input-group.error .input-group-addon {
    color: #83000A;
}

#faq-search .error-message {
    color: #83000A;
    display: none;
    font-size: 14px;
    padding-top: 4px;
}

#faq-search .error-message i {
    border: none;
    padding: 0;
}

.question-result .btn {
    padding: 0;
}

.question-result .btn-primary,
.question-result .btn-primary:active:hover,
.question-result .btn-primary.active:hover {
    font-size: 14px;
    padding-left: 12px;
    padding-bottom: 10px;
    background: transparent;
    color: inherit;
    width: 100%;
    text-align: left;
    border: 1px solid transparent;
    border-bottom: 1px solid #929292;
}

.question-result .well {
    width: 100%;
    padding: 10px;
    margin-bottom: 0;
    background-color: #fff;
    border: 0px solid transparent;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.question-result .well ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.question-result .well li {
    padding-bottom: 10px;
    padding-top: 14px;
}

.question-result .well li:last-child {
    margin-bottom: 0
}

.question-result .well ul ul {
    list-style: disc;
    margin-left: 20px;
}


/*
.question-result .btn-primary:active:hover,
.question-result .btn-primary.active:hover {
    background: transparent;
    border: 1px solid transparent;
    border-bottom: 1px solid #929292;
}
*/

.question-result a.btn-primary::before {
    content: "\f055";
    font-family: 'HSBCIcon-Font';
    position: relative;
    float: right;
    padding-right: 15px;
}

.question-result a.btn-primary[aria-expanded=true]::before {
    content: "\f056";
}


/*
.question-result a::before {
    content: "\f055";
    font-family: 'HSBCIcon-Font';
    position: relative;
    float: right;
}
*/


/*HSBC Insurance OnlineProtector*/

.enhance-coverage h1 {
    font-size: 2.1em;
}

.enhance-coverage h2 {
    font-size: 23px;
    font-weight: 700;
    margin-top: 0;
    color: #333;
    font-family: "Univers Next for HSBC W01 Bd", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 30px;
}

.enhance-coverage .row [class*="col-"] {
    margin-bottom: 0;
    /* margin-bottom: 30px; */
}

.enhance-coverage .row [class*="col-"]:last-child {
    margin-bottom: 0;
}

.protect-love-box {
    width: 90%;
}

.protect-love h1 {
    margin-top: 0;
}

.protect-love h3 {
    font-family: "Univers Next for HSBC W01 Rg", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    font-size: 24px;
}

.protect-love h3:first-child {
    margin-top: 10px;
}

.onlineprotector-benefits h1 {
    margin-top: 0;
}

.onlineprotector-benefits p {
    margin-top: 30px;
}

.onlineprotector dt, .directvalueterm dt {
    margin-bottom: 5px;
    width: 25%;
    padding-top: 8px;
}
.onlineprotector dd, .directvalueterm dd {
    margin-bottom: 40px;
    margin-left: 25%;
    width: 50%;
}

.onlineprotector dt.back-to-page i, .directvalueterm dt.back-to-page i {
    color: #DB0011;
    display: inline-block;
}

.onlineprotector dt.back-to-page span, .directvalueterm dt.back-to-page span {
    font-size: 16px;
}

.onlineprotector dd.button-cta div, .directvalueterm dd.button-cta div {
    text-align: right;
    width: 100%;
}

.onlineprotector dd.button-cta div a, .directvalueterm dd.button-cta div a{
    width: 50%;
}

.directvalueterm-benefits p {
    margin-top: 30px;
}


.enhance-coverage h1 {
    margin-top: 0;
}

.text-link-pop {
    text-decoration: underline;
    cursor: pointer;
}

.prdt-reference h1,
.display-review h1 {
    margin-top: 0;
}

.prdt-reference .hsbc-content a {
    color: #333 !important;
    text-decoration: none;
}

.prdt-reference .hsbc-content a:hover {
    text-decoration: underline !important;
}

.prdt-reference .icon-download {
    margin-right: 5px;
    margin-top: -5px;
}

.prdt-reference a .icon,
.prdt-reference a:hover .icon,
.display-review a .icon,
.display-review a:hover .icon {
    /* color: #008580; */
    color: #333333;
}
a.download {
    text-decoration: none;
}

a .fa-star,
a .fa-star-o {
    color: #008580;
}

.rating > span:hover:before {
    content: "\2605";
    position: absolute;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
}

.rating > span.hover:before,
.rating > span.hover ~ span:before,
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: left;
}

.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
    color: #008580;
    font-size: 23px;
}

.rating > span.hover:before,
.rating > span.hover ~ span:before,
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    color: #008580;
}

.review-content {
    height: 300px;
    overflow: auto;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    background-color: #E7E7E6;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #5C5C5C;
    /* -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5); */
}

section.container.prdt-reference {
    padding-top: 0;
}

section.container.protect-love {
    padding-bottom: 0;
}


/*Estimate Form*/

.estimate-form {
    padding-top: 50px;
    padding-bottom: 50px;
    background: url(/assets/images/onlineprotector/bg-quickquote-sm.jpg) no-repeat right center;
    background-size: cover;
}

.estimate-form-container {
    border-top: 5px solid #008580;
    border-left: 1px solid #979797;
    border-right: 1px solid #979797;
    border-bottom: 1px solid #979797;
    background: #EDEDED;
}

.estimate-form-container .primary-btn-slate,
.estimate-form-container .secondary-btn-slate {
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
    white-space: nowrap;
}

.estimate-form-result,
.estimate-form-box {
    padding: 25px;
}

.estimate-form-box .row .col-md-2 {
    width: 19.5%;
}


@media screen and (min-width: 1000px) {
    .estimate-form-box .row .col-lg-2 {
        width: 16.66666667%;
    }

    .estimate-form-box .row .col-lg-5 {
        width: 40%;
        padding: 0 0 0 40px;
    }
}

.estimate-form-result {
    background: #fff;
    border-bottom: 5px solid #008580;
}

.estimate-form-box h1 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
}

.estimate-form-box .row [class*="col-"] {
    margin-bottom: 30px;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.estimate-form-box .row [class*="col-"]:first-child {
    padding-bottom: 20px;
    padding-right: 0;
}

.estimate-form-box .row [class*="col-"]:last-child {
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    margin-bottom: 0;
    padding-bottom: 0;
}

.estimate-form-result h1 {
    font-size: 24px;
    margin-top: 0;
}

.estimate-form-box h2,
.estimate-form-result h2 {
    font-size: 18px;
    margin-top: 0;
    font-weight: 700;
    color: #333;
    font-family: "Univers Next for HSBC W01 Bd", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 25px;
}

.estimate-form-result h2 {
    min-height: 2.3em;
}

@media (min-width: 900px) {

    .estimate-form-result h3 span {
        display: block;
    }
}

.estimate-form-result .row [class*="col-"] {
    margin-bottom: 30px;
}

.estimate-form-result .row [class*="col-"]:last-child {
    margin-bottom: 0;
}

.estimate-form-result .large-text {
    font-size: 35px;
    padding-left: 5px;
}

.estimate-form-box input[name="include_ci_rider"],
.estimate-form-box input[name="include_pr_rider"]{
    background-color: #fff;
    border: 1px solid #D7D8D6 !important;
}

.estimate-form-box .pr_rider_option label,
.estimate-form-box .ci_rider_option label {
    padding-left: 40px;
    position: relative;
    white-space: normal !important;
}

.estimate-form-box .pr_rider_option span:not(.input-group-addon),
.estimate-form-box .ci_rider_option span:not(.input-group-addon) {
    position: absolute !important;
    left: 0;
}

label.checkbox-lable {
    margin-bottom: 15px;
}

div.hr {
    width: calc(100% - 0px);
    height: 1px;
    background: #7F7F7F;
    position: relative;
    /*    margin-top: 15px;*/
}

div.hr:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 10px 0;
    border-color: #EDEDED transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -1px;
    margin-left: 50%;
    left: -10px;
}

div.hr:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 10px 0;
    border-color: #7F7F7F transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -0px;
    margin-left: 50%;
    left: -10px;
}


/*Sub Footer*/

.sub-footer {
    background: #515358;
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 20px;
}

.sub-footer .small-link {
    font-size: 14px;
    display: block;
    margin-top: 1px;
}

a .small-link .icon {
    color: #fff !important;
}

a:hover .small-link .icon {
    color: #fff !important;
    text-decoration: none;
}

.sub-footer a {
    display: inline-block;
    color: #fff;
}

.sub-footer .row [class*=col-] {
    border-right: none;
    border-bottom: 1px solid #BFBFBF;
    padding-bottom: 8px;
    margin-bottom: 13px;
}

.sub-footer .row [class*=col-]:last-child {
    border-right: none;
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}


/*Get In Touch*/

.get-in-touch .row [class*=col-] [class*=col-] {
    margin-bottom: 50px;
}

.get-in-touch h1 {
    margin-top: 0;
    margin-bottom: 30px;
}

.get-in-touch .contact-icon {
    padding-top: 2px;
    width: 20px;
    float: right;
}



/*Footer*/

footer {
    padding-top: 30px;
    padding-bottom: 25px;
    font-size: 14px;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer li {
    list-style-type: none;
    display: inline-block;
    padding-right: 15px;
}

footer li:last-child {
    padding-right: 0;
}

footer .row [class*=col-]:last-child {
    text-align: left;
    margin-top: 10px;
}


/* Accordion */

.panel-hsbc {
    margin-bottom: 0;
}

.hsbc-panel {
    color: #333;
    background-color: transparent !important;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.hsbc-heading {
    padding: 0;
    background-color: transparent !important;
}

.hsbc-title {
    font-size: 18px;
}

.hsbc-title a:before,
.important-notes h3 a:after {
    content: "\f056";
    font-family: 'HSBCIcon-Font';
    position: relative;
    float: right;
    padding-left: 15px;
    border-left: 1px solid #d7d7d5;
}

.important-notes h3 a:before {
    content: "" !important;
}

.important-notes h3 a:after {
    float: none;
}

.hsbc-title a.collapsed:before,
.important-notes h3 a.collapsed:after {
    content: "\f055";
    font-family: 'HSBCIcon-Font';
    position: relative;
    float: right;

}

.important-notes h3 a.collapsed:before {
    content: "" !important;
}

.important-notes h3 a.collapsed:after {
    float: none;
}

.hsbc-title a.collapsed {
    border: 1px solid #d7d7d5 !important;
    color: inherit;
}

.hsbc-title a.collapsed:hover {
    border: 1px solid #263039 !important;
    color: #333;
}

.panel-default {
    border-color: transparent;
}

.hsbc-panel h3 a,
.hsbc-panel h4 a,
.important-notes .HSBC-panel a {
    width: 100%;
    padding: 15px 15px 15px;
    display: block;
    text-decoration: none;
    border: 1px solid #263039;
    -webkit-box-shadow: none;
            box-shadow: none;
    color: #333;
}

.important-notes .hsbc-panel a {
    padding: 10px 0 5px;
    border: 1px solid transparent;
}

.hsbc-panel h3 a:hover,
.hsbc-panel h3 a:active,
.hsbc-panel h4 a:hover,
.hsbc-panel h4 a:active {
    border: 1px solid #263039 !important;
}

.important-notes .hsbc-panel a:hover,
.important-notes .hsbc-panel a:focus {
    border: 1px solid transparent !important;
}

.important-notes .hsbc-content {
    font-size: 16px;
    padding-left: 0;
    padding-right: 0;
}

.hsbc-content a {
    width: auto;
    padding: 0;
    display: inline;
    /* text-decoration: none; */
    text-decoration: underline;
}

.hsbc-content a[href^="#footnote"] {
    text-decoration: none!important;
}

.hsbc-content a:hover {
    background-color: transparent;
    color: #89b8b9;
}

.hsbc-panel .HSBC-title {
    background-color: transparent;
    padding: 0;
}

.hsbc-panel .hsbc-content,
.important-notes .hsbc-panel .hsbc-content {
    border-top: none !important;
    border-bottom: 1px solid #acacac;
    border-left: 1px solid #acacac;
    border-right: 1px solid #acacac;
}

.important-notes .hsbc-panel .hsbc-content {
    border: none;
}

.hsbc-content .row:first-child {
    padding-bottom: 15px;
    padding-top: 15px;
}

.hsbc-content .row {
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid #acacac;
}

.hsbc-content .row:last-child {
    border-bottom: none;
    margin-bottom: -10px;
}

.hsbc-content h2 {
    font-size: 20px;
    margin-bottom: 0;
}

.hsbc-content h3 {
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.faq-accordion {
    margin: 1.5em 0;
}

.faq-accordion,
.faq-accordion h4 {
    font-size: 14px;
}

.faq-accordion .panel-collapse > ul {
    font-size: .85em;
}

.faq-accordion .panel-collapse ul div[id^='faq01'] {
    padding: 10px;
}

.important-notes .accordion {
    font-size: 18px;
    font-weight: normal;
}

.faq__search {
    position: relative;
}

.faq__search input {
    width: 100%;
    padding: 0 50px 0 15px;
    line-height: 40px;
    font-size: .8em;
    border: 1px solid #ccc;
    outline: none;
}

.faq__search input:hover,
.faq__search input:focus {
    border-color: #376798;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.faq__search input:focus {
    outline: 5px auto -webkit-focus-ring-color;
}

.faq__search button {
    position: absolute;
    top: 1px;
    right: 1px;
    z-index: 55;
    height: 38px;
    width: 40px;
    overflow: hidden;
    border: 0;
    padding: 0;
    outline: 0;
    background: transparent;
    font-size: 0px;
}

.faq__search button:focus {
    outline: 5px auto -webkit-focus-ring-color;
}

.faq__search button:after {
    font-family: HSBCIcon-Font;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    content: "\f007";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-left: 1px solid #ccc;
    padding: 5px 10px;
}

.faq-accordion .HSBC-panel a {
    padding: 15px 35px 15px 10px;
    position: relative;
    border-top-color: transparent!important;
    border-left-color: transparent!important;
    border-right-color: transparent!important;
    border-bottom-color: #ccc;
}

.faq-accordion .HSBC-panel a:after {
    font-family: HSBCIcon-Font;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f055";
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.main > section,
.main > aside,
.main > article > section,
.main > article > aside,
.main .container > section,
.main .container > aside {
    padding-top: 2em;
    padding-bottom: 2em;
}

.masthead {
    background-size: cover;
    background-position: 50% 50%;
    min-height: 33vh;
}

@media (min-width: 768px) {
    .masthead {
        height: 33vh;
        min-height: 400px;
    }
}

.masthead__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.masthead__copy {
    display: block;
    max-width: 640px;
    padding: 35px;
    background: rgba(255, 255, 255, .9);
}

.masthead__copy h1 {
    font-size: 38px;
}

.masthead__copy p {
    font-family: 'Univers Next for HSBC W01 Lt';
}

.breadcrumbs {
    background: #ededed;
}

.breadcrumbs a {
    display: inline-block;
    font-size: 14px;
    color: inherit;
    line-height: 14px;
    padding: 1em 0;
}

.breadcrumbs a:after {
    content: "›";
    display: inline-block;
    padding: 0 .5em;
}

.breadcrumbs a:last-child:after {
    display: none;
}

.help-tooltip {
    background: transparent;
    border: none;
    outline: none;
    padding: 0 3px;
    display: inline-block;
    font-size: 0.9em;
    opacity: .8;
    vertical-align: top;
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    color: #000;
}

.help-tooltip:focus {
    outline: 5px auto -webkit-focus-ring-color;
}

/*
.popover.top,
.popover.bottom {
  margin-left: 107px;
  width: 300px;
  max-width: 300px;
}
.popover.top > .arrow ,
.popover.bottom > .arrow {
  left: 42px!important;
}
.popover.right,
.popover.left {
  margin-top: 19px;
}
.popover.right > .arrow,
.popover.left > .arrow {
  top: 20px!important;
}
.popover.top > .arrow::after {
  border-top-color: #D7D8D6;
}
.popover.left > .arrow::after {
  border-left-color: #D7D8D6;
}
.popover.right > .arrow::after {
  border-right-color: #D7D8D6;
}
.popover.bottom > .arrow::after {
  border-bottom-color: #D7D8D6;
}
*/

.product_reference_materials ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
}

.product_reference_materials ul li:before {
    font-family: HSBCIcon-Font;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    content: "\f000";
    margin-right: .5em;
    top: -2px;
    position: relative;
}

.product_reference_materials a {
    color: inherit;
}

.modal-content {
    padding: 30px;
}

.modal-header {
    font-size: 1.25em;
    padding: 30px;
    margin: -30px -30px 10px;
    border-bottom: 1px solid #ccc;
    position: relative;
}

#ridermodal .modal-header {
    margin: -30px -30px 25px;
}

.modal-header h2,
.modal-header h3,
.modal-header h4 {
    margin: 0;
    font-family: 'Univers Next for HSBC W01 Rg';
    font-weight: 400;
}

.modal-body,
.modal-footer {
    padding: 0px;
    font-size: .85em;
}

.modal-footer {
    border: none;
}

.modal-header .close {
    margin-top: 0;
    position: absolute;
    top: 10px;
    right: 15px;
}

.modal-header .close:before {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    position: absolute;
    left: -20px;
    top: 0;
    background: #ccc;
}

.modal-dialog {
    min-height: 100vh;
    margin: 0 auto;
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.modal-retrieve .modal-content{
    width: 100%;
}

.modal-retrieve .modal-header {
    border-bottom: transparent;
    padding-bottom: 10px;
    padding-top: 45px;
}

.modal-retrieve .modal-header h2 {
    line-height: 1;
    padding-left: 39px;
    position: relative;
}

.modal-retrieve .modal-header h2:before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 0;
    
}

.modal-retrieve .modal-header.confirm h2:before {
    background-image: url(/assets/images/icons/circle-confirmation-solid-2x.png);
    top: 3px;
}

.modal-retrieve .modal-header.error h2:before {
    background-image: url(/assets/images/icons/error-icon-solid-2x.png);
    top: 5px;
}

.modal-retrieve .modal-header .close {
    opacity: 0.8;
}

.modal-retrieve .modal-header .close:before {
    display: none;
}

.modal-retrieve .modal-body {
    border-bottom: 1px solid #ccc;
    padding-bottom: 35px;
    margin-bottom: 35px;
    font-size: 100%;
}

.modal-retrieve .no-wrap {
    white-space: nowrap;
}

.modal-retrieve .modal-footer .btn-white {
    float: left;
}

.modal-retrieve .modal-footer a.primary-btn-slate {
    margin: 0;
    padding: 7px 15px;
}


@media (min-width: 992px) {

    .modal-retrieve .modal-header h2 {
        font-size: 38px;
        line-height: 38px;
    }

}

.form-item {
    display: none;
}

.form-item.active {
    display: block;
}

.dream-search-box-inner .input-group {
    width: 100%;
}

.dream-search-box .input-group .input-group-addon:first-child,
.dream-search-box-inner .input-group .input-group-addon:first-child {
    border-color: #929292;
    border-right: 0;
    color: #333;
}

.dream-search-box-inner .input-group .input-group-addon:first-child {
    position: absolute;
    z-index: 10;
    display: inherit;
    border-color: transparent;
    border: 0;
    top: 5px;
    left: 5px;
}

.dream-search-box .input-group input,
.dream-search-box-inner .input-group input {
    border-left: 0;
    font-size: 16px;
    padding-left: 0;
}

.dream-search-box-inner .input-group input {
    border-left: 1px solid;
    padding-left: 90px;
}

.dream-search-box .input-group .input-group-addon:last-child,
.dream-search-box-inner .input-group .input-group-addon:last-child {
    border-color: #929292;
    font-size: 20px;
}

.dream-search-box .input-group .input-group-addon:last-child i,
.dream-search-box-inner .input-group .input-group-addon:last-child i {
    border-left: 1px solid #929292;
    padding-left: 10px;
}

.ui-autocomplete.ui-menu {
    border-color: #929292;
    border-top: 0;
    max-height: 240px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.ui-autocomplete.ui-menu::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    background-color: #ccc;
}

.ui-autocomplete.ui-menu::-webkit-scrollbar {
    width: 10px;
    background-color: #f00;
}

.ui-autocomplete.ui-menu::-webkit-scrollbar-thumb {
    background-color: #515358;
}

.ui-autocomplete.ui-menu li {
    border-bottom: 1px solid #929292;
}

.ui-autocomplete.ui-menu li:last-child {
    border-bottom: none;
}

.ui-autocomplete.ui-menu li div {
    color: #333;
    font-size: 12px;
    padding: 10px;
}

.ui-autocomplete.ui-menu li div.ui-state-active {
    background-color: #d8d8d8;
    border-color: transparent;
}

.dream-search-result-actions.error a[data-action=goto-calculator] {
    display: none;
}

.dream-search-result-actions a[data-action=goto-calculator] {
    display: inline-block;
}

.dream-search-result-actions.success a[data-action=goto-calculator] {
    display: inline-block;
}

.dream-search-result-actions.error .dream-search-small {
    display: none;
}

.dream-search-result-actions .error-message {
    display: none;
}

.dream-search-result-actions.error .error-message {
    display: block;
}

.dream-search-result-actions .dream-suggestion-label {
    display: none;
}

.dream-search-result-actions.error .dream-suggestion-label {
    display: block;
}

.dream-search-box .input-group.error input,
.dream-search-box .input-group.error .input-group-addon,
.dream-search-box-inner .input-group.error input,
.dream-search-box-inner .input-group.error .input-group-addon {
    border-color: #83000A !important;
    background-color: rgba(131, 0, 10, 0.05);
}

.dream-search-box .input-group.error .input-group-addon,
.dream-search-box-inner .input-group.error .input-group-addon {
    color: #83000A;
}

ul.downloads-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.downloads-list li {
    padding: 4px 0 10px;
}

ul.downloads-list i.icon-download {
    color: #333;
    padding-right: 10px;
    font-size: 150%;
    float: left;
    margin-top: -5px;
}

ul.downloads-list li a {
    float: none;
    clear: both;
}

ul.downloads-list li a span {
    display: block;
    float: left;
    width: 90%;
}

ul.downloads-list li a:hover span {
    text-decoration: underline;
}

ul.downloads-list li a:before,
ul.downloads-list li a:after {
    content: "";
    display: table;
}

ul.downloads-list li a:after {
    clear: both;
}

ul.downloads-list li a {
    zoom: 1;
}

#contact-us-form h2 {
    font-size: 1.3em;
}

#contact-us-complaint-notes ul {
    margin-left: 0;
}

#contact-us-form .form-group .radio:first-child {
    margin-top: 0;
}

#contact-us-form label {
    margin-bottom: 10px;
}

#contact-us-form .form-group {
    margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
    #contact-us-form .contact-us-form-fields .contact-us-form-fields--title {
        /* width: 170px; */
    }

    #contact-us-form .contact-us-form-fields .contact-us-form-fields--surname {
        margin-bottom: 15px;
    }
}

#contact-us-form a[data-action='submit'] {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 30px;
}

#contact-us-form h2 a,
#contact-us-form #contact-us-complaint-notes a {
    text-decoration: underline;
    font-weight: bold;
}

#contact-us-form #contact-us-complaint-notes a[data-action='submit'] {
    text-decoration: none;
}

#contact-us-form .contact-us-form-fields .row .col-xs-8:nth-child(2) {
    margin-bottom: 10px;
}

#contact-us-form .form-group.error .form-control,
#contact-us-form .form-group.error input[type=checkbox]:not(old) + label > span,
#contact-us-form .form-group.error input[type=radio]:not(old) + label > span {
    border-color: #83000A !important;
    background-color: rgba(131, 0, 10, 0.05);
}

#contact-us-form .error-message {
    color: #83000A;
    display: none;
    font-size: 14px;
    margin-top: 4px;
}

#contact-us-form .form-group.error .error-message {
    display: block;
}

.container-contact-us {
    background-color: #efefef;
}

.comments-char-count {
    display: block;
    font-size: 14px;
    padding-top: 10px;
}

.comments-char-count.error {
    color: #83000A;
}

.nav-overlay {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #fff;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.nav-overlay .overlay-content {
    position: relative;
    width: 300vw;
}

.nav-overlay .overlay-content-panel {
    display: none;
    float: left;
    width: 100vw;
}

.nav-overlay .overlay-content-panel:first-child {
    display: block;
}

.nav-overlay .menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-overlay .menu li span {
    color: #333;
    display: block;
    font-size: 16px;
    padding: 16px 20px 16px 25px;
}

.nav-overlay .menu li a {
    padding: 16px 20px;
    text-decoration: none;
    font-size: 16px;
    color: #333;
    display: block;
    border-left: 5px solid transparent;
    width: calc(100% - 20vw);
    float: left;
}

.nav-overlay .menu a.secondary {
    color: #717171;
}

.nav-overlay .menu li a:first-child:hover,
.nav-overlay .menu li a:first-child:focus,
.nav-overlay .menu li.active a:first-child {
    border-left-color: #DB0011;
}

.nav-overlay .menu li a:nth-child(2) {
    float: right;
    width: 36px;
    height: 36px;
    text-align: center;
    padding: 5px 10px;
    margin: 10px;
    border: 1px solid #d8d8d8;
}

.nav-overlay .menu li a:nth-child(2) i {
    color: #717171;
}

.nav-overlay .overlay-content-panel-header {
    border-bottom: 1px solid #d7d7d5;
}

.nav-overlay .overlay-content-panel-header a {
    color: #333;
    display: block;
    font-size: 16px;
    padding: 16px 16px 16px 25px;
    text-decoration: none;
}

.nav-overlay .overlay-content-panel-header > div:first-child a i {
    color: #333;
    margin-top: -2px;
    margin-right: 4px;
    margin-left: -2px;
}

.nav-overlay .overlay-content-panel-header > div:nth-child(2) {
    text-align: right;
}

.nav-overlay .overlay-content-panel-header > div:nth-child(2) a {
    font-size: 20px;
    font-weight: 700;
    padding: 14px 20px;
    margin-top: -4px;
}

.navbar-header .navbar-toggle {
    position: absolute;
}

.navbar-brand {
    float: none;
    margin: 0 auto 30px auto;
    display: block;
    width: 142px;
    height: 40px;
}

.navbar-brand>img {
    margin: 0 auto;
    width: 100%;
}
input[type="file"]::-ms-value{
    font-family: 'Univers Next for HSBC W01 Rg', sans-serif;
    font-weight: normal;
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 12px;
    font-size: 14px;
    color: #333333;
    background-color: #fff;
    background-image: none;
    border: 1px solid #929292;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
input[type="file"]{
    display: block;
    width: 100%;
    line-height: 1em;
}

input[type="file"]::-ms-value{
    display: block;
}

.visuallyhidden {
    position: absolute !important;
    height: 1px; 
    width: 1px; 
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.btn-file-upload {
    display: inline-block !important;
    margin-top: 4px !important;
}

.btn-file-upload:before {

    font-family: HSBCIcon-Font;
    content: "\f066";
    padding-right: 10px;
}

.document-num {
    margin-bottom: 20px;
}

.document-num .btn-file-upload {
    margin-bottom: 5px;
}

.faq-search-results li {
    border-bottom: 1px solid #929292;
    font-size: 14px;
}
.faq-search-results li.collapsed .faq-answer {
    display: none;
}
.faq-question span {
    width: calc(100% - 55px);
    float: left;
    cursor: pointer;
}
.faq-question i {
    display: block;
    font-style: normal;
    float: left;
    width: 20px;
    border: 0;
    padding: 0;
}
.faq-question a.btn {
    display: block;
    width: 20px;
    padding-right: 15px;
    float: right;
}
.faq-question a.btn:before {
    font-family: HSBCIcon-Font;
    content: "\f056";
    color: #333 !important;
}
.faq-search-results li.collapsed .faq-question a.btn:before {
    content: "\f055";
}
.faq-answer {
    padding-top: 10px;
    display: block;
    width: calc(100% - 40px);
    margin-left: 20px;
}
.faq-answer p {
    margin-bottom: 10px;
}
.faq-answer li {
    border: none;
    padding-top: 0 !important;
}

.buynow-exit-button {
    display: block;
    position: absolute;
    text-decoration: underline;
    top: 1.9em;
    right: 0;
    padding-right: 10px;
}


.readonly input {
    background-color: white !important;
    color: black !important;
    opacity: 0.7;
}

.readonly .input-group-addon {
    background-color: white;
    color: black !important;
    opacity: 0.5;
}

#eligibility-validation-modal .underage {
    display: none;
}


#eligibility-validation-modal .overage {
    display: block;
}

#eligibility-validation-modal.underage .underage {
    display: block;
}


#eligibility-validation-modal.underage .overage {
    display: none;
}


/* Star Rating: OP/DVT complete page */
.buynow-form .star-rating input[type=button] {width: 25px;}
.buynow-form .star-rating label i.star {font-style: normal;}
.buynow-form .star-rating label i.star:before {content: "\2605";}
.buynow-form .star-rating label {
  color: #008580;
  display: block;
	float: left;
	font-size: 25px;
	height: 1.2em;
	cursor: pointer;
	border-bottom: 2px solid transparent;
}

.buynow-form .star-rating input:checked ~ label {color: #ccc;}
.buynow-form .star-rating input:checked + label {color: #008580;}
.buynow-form .star-rating label:hover ~ label,
.buynow-form .star-rating label:focus ~ label,
.buynow-form .star-rating input[id="star0"] + label {color: #ccc;}
.buynow-form .star-rating:hover label {color: #008580;}
.buynow-form .star-rating label:hover,
.buynow-form .star-rating label:focus {color: #008580 !important;}

/*****************************
/* Start: SEO Headings
*****************************/

/* Homepage */
.homepage .c-homepage .carousel-caption h2 {
    color: #333333;
    font-size: 1.9em;
    line-height: 1;
    margin: 0 0 25px;
}

.homepage .r1-c4.homepage h2 {
    font-family: "Univers Next for HSBC W01", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    margin: 0 0 25px;
}

.homepage .header-top0 h2 {
    font-family: "Univers Next for HSBC W01 Lt", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.9em;
    margin: -10px 0 25px;
}

.homepage .header-top0 h3 {
    font-family: "Univers Next for HSBC W01 Lt", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.4em;
    margin: 0 0 30px;
}

.homepage .home-special h4 {
    color: #333333;
    font-family: "Univers Next for HSBC W01 Bd", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 25px;
}

.homepage .dream-search-box h2, .homepage .dream-search-box-inner h2 {
    color: #333333;
    font-family: "Univers Next for HSBC W01 Bd", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.1em !important;
    font-weight: bold;
    margin: 0 0 25px;
}

.homepage .dream-search-box h3, .homepage .dream-search-box-inner h3 {
    font-family: "Univers Next for HSBC W01 Rg", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
}

/* Mobile */
@media only screen and (max-width : 767px) {
    .homepage .c-homepage .carousel-caption h2 {font-size: 2em;}

    .homepage .r1-c4.homepage h2 {
        font-family: "Univers Next for HSBC W01 bd", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 20px;
        margin: 0 0 5px;
    }

    .homepage .header-top0 h2 {
        font-size: 32px;
        margin: 0 0 20px;
    }

    .homepage .header-top0 h3 {
        font-size: 20px;
        width: 85%;
    }

    .homepage .home-special h4 {
        font-family: "Univers Next for HSBC W01 Lt", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 32px;
        font-weight: normal;
        margin: 0 0 20px;
    }

    .homepage .dream-search-box h2, .homepage .dream-search-box-inner h2 {
        font-size: 28px !important;
        margin: 0 0 15px;
    }

    .homepage .dream-search-box h3, .homepage .dream-search-box-inner h3 {
        font-size: 18px;
        margin: 15px 0;
    }
}

/* Our Plans */
.life-insurance-container h2 {
    font-family: "Univers Next for HSBC W01 Lt", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 1.9em !important;
    margin: 0 0 25px !important;
}

.life-insurance-container h3 {
    font-family: "Univers Next for HSBC W01 Bd", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 24px !important;
}

.life-insurance-container h4 {
    font-family: "Univers Next for HSBC W01 Rg", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 24px !important;
}

/* Mobile */
@media only screen and (max-width : 767px) {
    .life-insurance-container h2 {
        font-size: 25px !important;
        margin: 0 !important;
        width: 80%  !important;
    }

    .life-insurance-container h3 {
        font-size: 20px !important;
        margin: 0 0 15px !important;
    }

    .life-insurance-container h4 {
        font-size: 16px !important;
        font-weight: bold !important;
        margin: 0 !important;
    }
}

/* Our Plans - Direct ValueTerm */
.protect-love h2,
.directvalueterm-benefits h2,
.onlineprotector-benefits h2 {
    font-family: "Univers Next for HSBC W01 Lt", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

/* HSBCIDCU-744: Headings not used consistently */
.directvalueterm .buynow-form h2,
.onlineprotector .buynow-form h2,
.onlineinvestor h2 {
  border-left: 5px solid #DB0011;
  padding-left: .5em;
}

.directvalueterm .buynow-form h3,
.onlineprotector .buynow-form h3 {
  border-left: 5px solid #DB0011;
  font-size: 16px;
  padding-left: .5em;
}


/* HSBCIDCU-762: Contrast Requirement for Mobile */
@media (max-width: 767px) {

.contactushomepage #contact-us-form h2 {
    font-family: "Univers Next for HSBC W01 Lt", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.9em;
    margin: 0 0 25px;
}

    .btn-white {
        color: #333333;
    }

    .c-homepage .carousel-caption p,
    .featured p {
        color: #333333
    }

    input#faq-search-keywords::placeholder,
    input#faq-search-keywords::-webkit-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #333333;
        opacity: 1; /* Firefox */
    }

    input#faq-search-keywords:-ms-input-placeholder {color: #333333;}

    input#faq-search-keywords::-ms-input-placeholder {color: #333333;}

    table.data-table thead th {
        background-color: #005D5A !important;
    }

    table.data-table {
        color: #333333 !important;
    }

}

/* SEO for Contact Us */
.contactushomepage .get-in-touch h2 {
    font-family: "Univers Next for HSBC W01 Lt", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.9em;
    margin: 0 0 50px;
}

.contactushomepage #contact-us-form h2 {
    font-family: "Univers Next for HSBC W01 Lt", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.9em;
    margin: 0 0 25px;
}

.directvalueterm-benefits h3,
.onlineprotector-benefits h3 {
    color: #333333;
    font-family: "Univers Next for HSBC W01 Bd", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 25px;
}


.enhance-coverage h2 {
    font-family: "Univers Next for HSBC W01 Lt", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 2.1em !important;
    font-weight: normal !important;
    margin: 0 0 25px;
}

.enhance-coverage h3 {
    color: #333333;
    font-family: "Univers Next for HSBC W01 Bd", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 23px;
    font-weight: 700;
    margin: 0 0 30px;
}

.prdt-reference h2 {
    font-family: "Univers Next for HSBC W01 Lt", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.9em;
    margin: 0 0 25px;
}

.estimate-form h2{
    font-family: "Univers Next for HSBC W01 Lt", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 27px !important;
    font-weight: normal !important;
    margin: 0 !important;
}

.estimate-form h3 {
    font-family: "Univers Next for HSBC W01 Bd", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 25px;
}

/* Mobile */
@media only screen and (max-width : 767px) {
    .protect-love h2,
    .directvalueterm-benefits h2,
    .onlineprotector-benefits h2 {font-size: 32px;}

    .directvalueterm-benefits h2,
    .onlineprotector-benefits h2 {margin: 22px 0 25px;}

    .prdt-reference h2 {font-size: 32px;}

    .estimate-form h2 {font-size: 24px;}

    .estimate-form h3 {font-size: 18px;}
}

/* Your Dreams */
.yourdreams-homepage .r1-c4 h2 {
    font-family: "Univers Next for HSBC W01", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    margin: 0 0 25px;
}

/* Mobile */
@media only screen and (max-width : 767px) {
    .yourdreams-homepage .r1-c4 h2 {
        font-size: 32px;
        margin: 0 0 15px;
    }

    .yourdreams-homepage .r1-c4 h2:after {
        color: #DB0011;
        content: "\e005";
        font-family: HSBCIcon-Font;
    }
}

/* Calculator Pages */
.calculator__titler h2 {
    font-family: "Univers Next for HSBC W01 Lt", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.9em;
    margin: 0;
    padding: 0;
}

/*****************************/
.contactushomepage #contact-us-form h3 {
    font-family: "Univers Next for HSBC W01 Lt", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.3em !important;
}

.contactushomepage #contact-us-form h3 a {
    font-weight: bold;
    text-decoration: underline;
}

@media only screen and (max-width : 767px) {
    .contactushomepage .get-in-touch h2 {
        margin: 0 0 30px;
    }

    .contactushomepage #contact-us-form h2 {
        font-size: 32px !important;
    }

    .contactushomepage #contact-us-form h3 {
        font-size: 1.3em !important;
    }
}

.verification .secondary-buttons {
    max-width: 50%;
    float: left;
}

.verification .secondary-buttons span:first-child {
    margin-bottom: 30px;
    display: block;
}

.verification .primary-button {
    max-width: 50%;
    float: right;
}

.verification legend {
    margin-bottom: 20px;
}


.retrieve h2 {
    color: #333333;
    font-family: "Univers Next for HSBC W01 Bd", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 25px;
}

.navbarrier {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 150;
}