@charset "utf-8";

/* CSS Document */

body {
    font-size: 14px;
}

/* Reset Bootstrap */
@media (min-width: 1200px) {
    .container {
      width: 1280px;
    }
  }

@media all and (max-width: 400px) {
  label > span.break {
    display: block;
  }

  label.checkbox.label-inline + button{
    position: absolute;
  }
}

/*
* {
    line-height: 1.6em;
}
*/

p.emphasize {
    font-size: 1.2em;
}

p.intro {
    font-size: 16px;
}

h1 {
    font-size: 1.9em;
}

h2 {
    font-size: 1.7em;
}

h3 {
    font-size: 1.17em;
}


/* Printing */

@media print {
    .container {
        width: auto;
    }
    .collapse {
        display: block !important;
        height: auto !important;
    }
}

@media (min-width: 599px) and (max-width: 767px) {

}

@media (max-width: 767px) {

    h4 a {
        font-size: 20px;
    }

    section.container h1{
        font-size: 32px;
    }
    section.container h2{
        font-size: 20px;
    }    

    .btn {
        display: block;
        text-align: center;
        margin: .5em auto;
    }

    .modal-footer .btn+.btn {
        margin-left: 0;
        margin-bottom: 0;
    }

    input.btn,
    button.btn {
        width: 100%;
    }
    textarea,
    input[type="email"] {
        display: block;
        width: 100%;
    }

    .carousel-caption {
        padding-top: 30px;
    }

    .carousel-control.left > span{
        left: 15px;
    }

    .carousel-control.right > span{
        right: 15px;
    }

    .carousel-caption h1{
        font-size: 2.0em;
    }

    .carousel-indicators h1 {
        text-align: left;
    }

    .carousel-indicators p {
        text-align: left;
    }

    .carousel-indicators li {
        background: #4a4a4a;  
        border: 1px solid #4a4a4a;
    }
    /* START HERE: General-gloabl */
    section.container.r1-c4.homepage h1,
    section.container.r1-c4.aboutus h1{
        font-size: 20px;
        font-family: "Univers Next for HSBC W01 bd", "Helvetica Neue", Helvetica, Arial, sans-serif;
        
    }

    section.container.r1-c4.homepage h1:after,
    section.container.r1-c4.aboutus h1:after{  
        content: "";
    }
    /* END HERE: General-gloabl */

    /* START HERE: Header */
    .header-block{
        padding: 10px 0 0;
    }
    /* END HERE: Header*/

    /* START HERE: Home */
    .c-homepage {
        margin-bottom: 30px;
    }

    section.container.r1-c4.homepage h1 {
        margin-bottom: 5px;
    }

    .c-homepage .carousel-caption p  {
        font-size: 14px;
    }

    section.container.r1-c4 .row [class*="col-"] {
        margin-bottom: 15px;
    }

    .header-top0 h1 {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .header-top0 h2 {
        width: 85%;
        margin-bottom: 30px;
    }

    .r1-c2.home-special .row [class*="col-"]{
        margin-bottom: 30px;
    }

    section.container.r1-c4.right-border.homepage .space30{
        height: 15px;
    }

    /*END HERE: Home*/  
    
    /*START HERE: Contact Us*/
    #contact-us-form a[data-action='submit'] {
        width: 100%;
        text-align: center;
    }
    /*END HERE: Contact Us*/

    /*START HERE: About*/
    .header-page.header-about{
        min-height: 200px;
        margin-bottom: 25px;
    }

    .header-page.header-about h1 {
        font-size: 30px;
        margin-bottom: 20px;
        width: 85%;
    }
    
    .header-page.header-about p {
        font-size: 14px;
    }

    section.container.r1-c4.aboutus h1 {
        margin-bottom: 15px;
    }

    section.container.r1-c4.aboutus .tn-img {
        display: block;
        margin-bottom: 15px;
    }

    section.container.r1-c4 .row [class*="col-"] {
        margin-bottom: 25px;
    }
    section.container.serving-your-better h1 {
        font-size: 25px;
    }
    section.container.serving-your-better h3.hsbc-title {
        font-size: 14px;
        font-family: "Univers Next for HSBC W01 Rg";
    }

    section.container.serving-your-better h3.hsbc-title a.collapsed {
        border: 1px solid #333333 !important;
    }

    section.container.serving-your-better .hsbc-panel .hsbc-content {
        border-bottom: 1px solid #333333;
        border-left: 1px solid #333333;
        border-right: 1px solid #333333;
    }

    section.container.serving-your-better .panel-group .panel+.panel {
        margin-top: 30px;
    }
    /*END HERE: About*/

    /* START HERE: Our Plan */
    .header-page.header-our-plan {
        min-height: 200px;
        margin-bottom: 25px;
    }

    .header-page.header-our-plan .featured{
        padding: 15px 10px;
        margin-top: 0px;
    }

    .header-page.header-our-plan .featured h1{
        font-size: 32px;
    }

    .header-page.header-our-plan .featured p{
        font-size: 14px;
    }

    .life-insurance-container h1 {
        font-size: 25px;
        width: 80%;
        margin-bottom: 0px;
    }

    .life-insurance-container h2{
        font-size: 20px;
        margin-bottom: 15px;
    }

    section.container.life-insurance-container {
        padding-left: 25px;
    }

    section.container.life-insurance-container h1 {
        font-size: 25px;
    }

    section.container.life-insurance-container .btn-left {
        padding-right: 5px;
        padding-left: 15px;
        width: 50%;
        float: left;
    }

    section.container.life-insurance-container .btn-right {
        padding-left: 5px;
        padding-right: 15px;
        width: 50%;
        float: left;
    }

    section.container.life-insurance-container a.secondary-btn-slate {
        width: 100%;
        text-align: center;
        font-size: 14px;
        margin-bottom: 30px;
    }

    section.container.life-insurance-container a.outline-btn-slate {
        width: 100%;
        text-align: center;
        font-size: 14px;
    }

    section.container.life-insurance-container p.tnc {
        padding-top: 0 !important;
    }

    .container.comparison-chart .hsbc-title a {
        border: 1px solid #333333 !important;
        font-size: 14px;
    }

    .container.comparison-chart .hsbc-title a:before {
        margin-top: 8px;
    }

    .container.comparison-chart .hsbc-panel .hsbc-content {
        border-top: none !important;
        border-bottom: 1px solid #ffffff;
        border-left: 1px solid #ffffff;
        border-right: 1px solid #ffffff;
    }

    .container.comparison-chart .hsbc-panel .hsbc-content .table-responsive {
        border: 1px solid #ffffff;
    }

    .container.comparison-chart .hsbc-panel #collapse1 {
        margin-top: 30px;
    }

    .container.comparison-chart .hsbc-panel .hsbc-content .table-responsive thead>tr {
        background-color: #EDEDED;
    }

    .container.comparison-chart .hsbc-panel .hsbc-content .table-responsive thead>tr>th {
        border-bottom: none;
    }

    .container.comparison-chart .hsbc-panel .hsbc-content .table-responsive tbody>tr:nth-child(even) {
        background-color: #EDEDED;
    }

    .container.comparison-chart .hsbc-panel .hsbc-content .table-responsive h2{
        font-size: 15px;
    }

    .container.comparison-chart .hsbc-panel .hsbc-content .table-responsive h3{
        font-size: 14px;
    }

    .more-generic-text a {
        text-decoration: none;
    }

    .more-generic-text .btn-primary {
        font-size: 14px;
        padding-left: 0;
        padding-bottom: 10px;
        background: transparent;
        color: inherit;
        width: 100%;
        text-align: left;
        border: 1px solid transparent;
    }

    .more-generic-text .btn-primary:active:focus { 
        background-color: inherit;
        border-color: inherit;
        color: inherit;
        border: inherit;
        border-color: inherit;
    }

    .more-generic-text a.btn-primary::after {
        content: "\f055";
        font-family: 'HSBCIcon-Font';
        position: relative;
        padding-right: 15px;
    }

    .life-insurance-container h3 {
        font-size: 16px;
        font-weight: bold;
        margin-top: 0;
    }

    .life-insurance-container p {
        font-size: 14px;
    }

    .estimate-form-box .row .col-xs-12 {
        width: 100%;
    }

    .onlineprotector dt, .directvalueterm dt {
        width: 100%;
    }
    .onlineprotector dd, .directvalueterm dd {
        width: 100%;
        margin: 0 0 20px 0!important;
    }
    .onlineprotector dd.button-cta div a, .directvalueterm dd.button-cta div a{
        width: 100%;
        margin-top: 50px;
        padding: 15px 0;
    }
    
    /* END HERE: Our Plan */

    /* START HERE: Your Dreams */
    .dream-search-inner {
        min-height: 430px !important;
        padding-top: 45px;
        padding-bottom: 45px;
        margin-bottom: 45px;
    }

    .dream-search-box-inner{
        background: none;
        padding: 30px 20px 5px 20px;
        background-color:   #ffffff;
    }

    .dream-search-box-inner h1 {
        font-size: 28px;
        margin-bottom: 15px;
    }

    .dream-search-box-inner h2 {
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .dream-search-box-inner .input-group .input-group-addon:first-child {
        border-color: #333333;
        
    }

    .dream-search-box-inner .input-group .form-control {
        border-color: #333333;
    }

    .dream-search-box-inner .dream-search-small {
        margin-top: 15px;
        margin-bottom: 10px;
        /* text-overflow: ellipsis;
        width: 100%;
        white-space: nowrap;
        overflow: hidden; */
    }

    .dream-search-result-actions a[data-action=goto-calculator] {
        width: 100%;
        text-align: center;
    }

    .tn-img {
        /*display: none;*/
    }

    section.container.r1-c4 h1 {
        font-size: 32px;
        margin-bottom: 15px;
    }     

    section.container.r1-c4 h1:after {
        font-family:HSBCIcon-Font;    
        content: "\e005";
        color: #DB0011;
    }

    section.container.r1-c4 .secondary-btn-slate-absolute {
        /*display: none;*/
    }

    section.container.r1-c4 .box-out p{
        /*padding-bottom: 0;*/
    }

    .space60 {
        height: 30px;
    }

    /* END HERE: Your Dreams*/

    /* START: Footer */
    .important-notes a.btn.tertiary-btn-slate{
        text-align: left;  
        font-size: 14px;
        padding: 20px 15px;
        font-family: 'Univers Next for HSBC W01 Bd',"Helvetica Neue",Helvetica,Arial,sans-serif;
        margin-bottom: 0px;
        color: inherit;
    }

    .important-notes a.btn.tertiary-btn-slate:hover:focus{
        color:inherit;
    }

    .important-notes .hsbc-title a.collapsed.btn.tertiary-btn-slate:hover{
        border: none !important;
    }

    .important-notes #collapse5.panel-collapse {
        margin: 0;
        font-size: inherit;
    }
    
    .important-notes__body {
        padding: 0px 0px;
    }

    footer{
        padding-top: 15px;
    }

    footer.container.container-border-btmnone {
        padding-left: 15px;
    }

    section.container.footer-utility {
        margin-top: 0px;
    }

    section.container.footer-utility h3 {
        font-size: 20px;
        margin-top: 0;
    }

    .footer-utility .row [class*="col-"] {
        margin-bottom: 30px;
    }

    .container.footer-utility a.secondary-btn-slate {
        width: 100%;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 0px;
    }
    /* END: Footer */
}


/* iPad */

@media (min-width: 768px) {
    body {
        font-size: 16px;
    }
     p.intro {
        font-size: 18px;
    }
    h1 {
        margin-bottom: 25px;
    }
    /* Buttons */
    .btn-spacer {
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .header-block {
        padding: 0;
    }
    .brand {
        position: relative;
        display: block;
        border-bottom: 1px solid #EDEDED;
    }
    .brand-main {
        padding: 0;
        float: none;
        display: inline-block;
    }
    .brand-logo {
        width: auto;
    }
    .navbar>.container .brand-main {
        margin-left: 0;
        margin-top: 20px;
        margin-bottom: 8px;
    }
    .nav-main li,
    .navbar-right li {
        font-size: 16px;
    }
    .navbar-header {
        float: none;
    }
    .nav-main li {
        padding: 15px 38px 0 0;
    }
    .nav-main li:first-child {
        padding-left: 0;
    }
    .nav-main li a {
        padding: 4px 0 12px 0;
        line-height: 1.13;
        border-bottom: none;
        border-bottom: 4px solid transparent;
        margin-bottom: -1px;
    }
    .nav-main>.active>a,
    .nav-main>.active>a:hover,
    .nav-main>li>a:hover {
        border-bottom: 4px solid #DB0011;
        margin-bottom: -1px;
    }
    .collapse-main {
        padding-right: 0;
        padding-left: 0;
    }
    /*
    .container-border {
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 60px;
        margin-bottom: 60px;
        border-bottom: 1px solid #acacac;
    }
    
    .container-border-last {
        border-bottom: none !important;
        margin-bottom: 0;
    }
*/
    .container-border-btmnone {
        margin-left: auto;
        margin-right: auto;
    }
    .col2-rightline .col-sm-6:first-child,
    .col2 .col-sm-6:first-child,
    .col2-hideright .col-sm-6:first-child {
        border-right: 1px solid #acacac;
        border-bottom: none;
        padding-right: 70px;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .col2 .col-sm-6:first-child,
    .col2-hideright .col-sm-6:first-child {
        border-right: none;
    }
    .col2-rightline .col-sm-6:last-child,
    .col2 .col-sm-6:last-child,
    .col2-hideright .col-sm-6:last-child {
        padding-left: 70px;
    }
    .HSBC-title {
        font-size: 28px;
    }
    .HSBC-content h2 {
        font-size: 26px;
    }
    .HSBC-content h3 {
        font-size: 22px;
    }
    .HSBC-content .row {
        padding-top: 15px;
    }
    .comparison-data .col-sm-4:nth-child(even) {
        border-right: none;
    }
    .comparison-data .col-sm-4:last-child {
        border-left: none;
        margin-left: 0;
    }
    /*sub footer*/
    .sub-footer {
        padding-bottom: 20px;
    }
    .sub-footer .row [class*=col-] {
        border-right: 1px solid #BFBFBF;
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .sub-footer .row [class*=col-]:last-child {
        border-right: none;
    }
    /*footer*/

    /*    homepage*/
    .right-border .row [class*="col-"] {
        border-right: 1px solid #626469;
    }
    .right-border .row [class*="col-"]:nth-child(even) {
        border-right: 1px solid transparent;
        clear: both;
    }
    .dream-search-box,
    .dream-search-box-inner {
        width: 450px;
        padding: 40px;
        margin-left: 0;
        margin-right: 0;
    }
    .dream-search-box h1,
    .dream-search-box-inner h1 {
        font-size: 1.8em;
    }
    .dream-search-box h2,
    .dream-search-box-inner h2 {
        font-size: 22px;
    }
    .dream-suggestion-label li {
        padding-bottom: 10px;
        padding-right: 15px;
        vertical-align: top;
        width: auto;
    }
    .dream-suggestion-label li:last-child {
        padding-bottom: 10px;
        padding-right: 15px;
        width: 100%;
    }
    /*
        .r1-c4 .container-border {
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 30px;
        margin-bottom: 60px;
        border-bottom: 1px solid #acacac;
    }
*/
    .footer-utility .input-group {
        width: 80%;
    }
    .footer-utility .question-results {
        width: 80%;
    }
    .question-result .btn-primary,
    .question-result .btn-primary:active:hover,
    .question-result .btn-primary.active:hover {
        width: 80%;
    }
    .question-result .well {
        width: 80%;
    }
    footer li {
        padding-right: 30px;
    }
    .home-special h4 {
        font-size: 22px;
        margin: 0 0 20px;
    }

    .header-top0 h2 {
        margin-bottom: 30px;
    }
    .r1-c2 .row [class*="col-"] {
        margin-bottom: 30px;
    }
    /* Header - If client decide not to show under tablet, move this whole thing over 992 */
    .header-page {
        height: 400px;
    }
    .header-about {
        background: url(/assets/images/about/header-about.jpg) no-repeat right center;
        background-size: cover;
    }

    .header-policyforms {
        background: url(/assets/images/policyforms/header-policyforms.jpg) no-repeat right center;
        background-size: cover;
    }

    .header-our-plan {
        background: url(/assets/images/our-plans/header-our-plans.jpg) no-repeat right center;
        background-size: cover;
    }
    .header-your-dreams {
        background: url(/assets/images/our-plans/header-our-plans.jpg) no-repeat right center;
        background-size: cover;
    }
    .header-contact-us {
        background: url(/assets/images/contact-us/header-contact.jpg) no-repeat right center;
        background-size: cover;
    }
    .header-onlineprotector {
        background: url(/assets/images/onlineprotector/header.jpg) no-repeat right center;
        background-size: cover;
    }
    .header-directvalueterm {
        /* FIXME: use directvalueterm image */
        background: url(/assets/images/directvalueterm/valueterm-masthead-1440x450-oddsize.jpg) no-repeat right center;
        background-size: cover;
    }

    .header-campaigns {
        background: url(/assets/images/campaign/promotions-masthead.png) no-repeat center center;
        background-size: cover;
    }
    
    .header-eclaims {
        background: url(/assets/images/eclaims/eclaims-masthead-1440x450-oddsize.jpg) no-repeat left center;
        background-size: cover;
    }

    .header-directvalueterm .featured {
        width: 730px;
    }

    .header-eclaims .featured  {
        max-width: 600px;
    }


    .header-eclaims .featured span {
        display: block;
    }

    .header-height {
        height: 400px;
    }
    .featured {
        background: #fff;
        /* width: 600px; */
        width: 665px;
        /* min-height: 210px; */
        min-height: auto;
        padding: 40px;
    }

    /* .featured.forms-and-document {
        min-height: auto;
    } */
    /*    Header End*/
    /*    Our Plans*/

    .retrieve form .row [class*='col-'] {
        border-right: 1px solid #979797;
        padding-right: 40px;
    }

    .retrieve form .row [class*='col-']:nth-child(2) {
        border-right: 1px solid transparent;
        padding-left: 40px;
        padding-right: 0;
    }

    .life-insurance-container .row [class*='col-'] {
        border-right: 1px solid #979797;
    }
    .life-insurance-container .row [class*='col-']:nth-child(2) {
        border-right: 1px solid transparent;
    }
    .life-insurance-container .row [class*='col-']:last-child {
        border-right: 1px solid transparent;
    }
    .life-insurance-container .row .col-sm-6:first-child {
        padding-right: 40px;
    }
    .life-insurance-container .row .col-sm-6:last-child {
        padding-left: 40px;
    }
    .comparison-chart .hsbc-content h3 {
        margin-bottom: 0;
    }
    .get-in-touch .row [class*=col-] [class*=col-] {
        margin-bottom: 40px;
    }
    .get-in-touch h1 {
        margin-bottom: 50px;
    }
    .get-in-touch .contact-icon {
        padding-top: 5px;
    }
    .ui-autocomplete.ui-menu li div {
        font-size: 16px;
    }
    .r1-c3 .row [class*="col-"] {
        margin-bottom: 0;
    }
    .estimate-form {
        background: url(/assets/images/onlineprotector/bg-quickquote.jpg) no-repeat right center;
        background-size: cover;
    }
    .estimate-form-box h2,
    .estimate-form-result h2 {
        font-size: 20px;
    }

    .estimate-form-result h2{
        width: 90%;
    }

    .estimate-form-result h1 {
        font-size: 27px;
    }
    .estimate-form-box h1 {
        font-size: 27px;
    }
}


/* Small Desktop Screen */

@media (min-width: 992px) {
    .estimate-form-container {
        max-height: 100%;
        overflow: hidden;
    }
    .estimate-form-box .row [class*="col-"] {
        border-right: 1px solid #979797;
        border-bottom: 1px solid transparent;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .estimate-form-box .row [class*="col-"]:last-child {
        border-right: 1px solid transparent
    }

    .estimate-form-container .primary-btn-slate,
    .estimate-form-container .secondary-btn-slate  {
        width: auto;
    }
    /*    Homepage */
    .c-homepage .carousel-inner {
        height: 100%;
    }
    .c-homepage .carousel-control {
        position: absolute;
        background: #000;
        opacity: 1;
        width: 50px;
        height: 105px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: opacity 0.3s; /* Safari */
        transition: opacity 0.3s;
    }
    .carousel-control.left {
        margin-left: 80px;
    }
    .carousel-control.left.deactive {
        opacity: 0.4;
    }
    .carousel-control.right {
        margin-right: 80px;
    }
    .carousel-control.right.deactive {
        opacity: 0.4;
    }
    .carousel-control.left > span,
    .carousel-control.right > span {
        position: absolute;
        top: 50%;
        bottom: 30px;
        color: #fff;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .carousel-control.left > span {
        left: 15px;
    }
    .carousel-control.right > span {
        right: 15px;
    }
    .c-homepage .carousel-caption {
        position: absolute;
        background: #fff;
        padding: 30px 20px;
        width: 400px;
        text-align: left;
        text-shadow: none;
        top: 52%;
        left: 18%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        bottom: initial;
    }
    .c-homepage .carousel-caption h1 {
        margin-top: 0;
        line-height: 1.2;
    }
    .c-homepage .carousel-caption p {
        font-family: "Univers Next for HSBC W01 Lt", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: normal;
        color: #515358;
        font-size: 20px;
        line-height: 1.3;
        margin-bottom: 0;
    }
    .right-border .row [class*="col-"] {
        border-right: 1px solid #626469;
    }
    .right-border .row [class*="col-"]:nth-child(even) {
        border-right: 1px solid #626469;
        clear: both;
    }
    .right-border .row [class*="col-"]:last-child {
        border-right: 1px solid transparent;
    }
    /*
    .r1-c4 .container-border {
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 30px;
        margin-bottom: 60px;
        border-bottom: 1px solid #acacac;
    }
*/
    .dream-search-box,
    .dream-search-box-inner {
        width: 700px;
        min-height: 340px;
    }
    .dream-search-box h1,
    .dream-search-box-inner h1 {
        font-size: 2.1em;
    }
    footer .row [class*=col-]:last-child {
        text-align: right;
        margin-top: 0;
    }
    .dream-suggestion-label li:last-child {
        width: 75%;
    }
}


/* Large Desktop Screen */

@media (min-width: 1200px) {
    body {
        font-size: 18px;
    }

    p.intro {
        font-size: 20px;
    }

    .featured p {
        font-size: 1.2em;
    }
    .c-homepage .carousel-caption {
        /* width: 600px; */
        width: 665px;
        left: 14%;
    }

    .retrieve form .row [class*='col-']:nth-child(2) {
        padding-left: 100px;
    }
}

@media (min-width: 1400px) {
    .c-homepage .carousel-caption {
        width: 650px;
        left: 12%;
    }
}


/* 4k and above Desktop Screen */

@media (min-width: 1680px) {}

